{{#is category.id 4402881201554}}<script>window.location.replace('https://support.sharkclean.com/hc/en-us/articles/4403101981714-Contact-Us')</script>{{/is}}
{{#is category.id 4403095796498}}<script>window.location.replace('https://support.sharkclean.com/hc/en-us/articles/4403101981714-Contact-Us')</script>{{/is}}
{{#is category.id 7064082178588}}<script>window.location.replace('https://www.sharkclean.com/parts-and-accessories/find-model-number/?_ga=2.30383679.1694868215.1671712272-1983878799.1671712272')</script>{{/is}}

<div class="banner">
  <div class="banner-container">
    <h1 class="banner-title">{{category.name}}</h1>
    <p class="banner-desc">{{category.description}}</p> 
    <div class="container-wrapper search-container search-container-hero-item max-w-5xl w-full" data-hero-box>
      <div class="relative">
        {{search instant=true placeholder=settings.search_placeholder_text}}
        <div class="searchbar-info" data-fancybox data-src="#findModel">
          <i class="fa fa-info-circle"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container category-container py-6">
  <div class="container-wrapper">
    <div class="site-header">
      {{breadcrumbs}}        
    </div>
    {{#is category.name settings.category_name_1}}
    <section class="section knowledge-base">
      <div id="categorypage-carousel-1" class="owl-carousel owl-theme" style="overflow:hidden;">
        {{#isnt settings.category_info_title_1_1 ''}}
        <a href="{{settings.category_info_link_1_1}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_1_1'}}{{else}}{{settings.category_info_title_1_1}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_1_2 ''}}
        <a href="{{settings.category_info_link_1_2}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_1_2'}}{{else}}{{settings.category_info_title_1_2}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_1_3 ''}}
        <a href="{{settings.category_info_link_1_3}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_1_3'}}{{else}}{{settings.category_info_title_1_3}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
      </div>
    </section>
    {{/is}}
    {{#is category.name settings.category_name_2}}
    <section class="section knowledge-base">
      <div id="categorypage-carousel-2" class="owl-carousel owl-theme" style="overflow:hidden;">
        {{#isnt settings.category_info_title_2_1 ''}}
        <a href="{{settings.category_info_link_2_1}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_2_1'}}{{else}}{{settings.category_info_title_2_1}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_2_2 ''}}
        <a href="{{settings.category_info_link_2_2}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_2_2'}}{{else}}{{settings.category_info_title_2_2}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_2_3 ''}}
        <a href="{{settings.category_info_link_2_3}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_2_3'}}{{else}}{{settings.category_info_title_2_3}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
      </div>
    </section>
    {{/is}}
    {{#is category.name settings.category_name_3}}
    <section class="section knowledge-base">
      <div id="categorypage-carousel-3" class="owl-carousel owl-theme" style="overflow:hidden;">
        {{#isnt settings.category_info_title_3_1 ''}}
        <a href="{{settings.category_info_link_3_1}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_3_1'}}{{else}}{{settings.category_info_title_3_1}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_3_2 ''}}
        <a href="{{settings.category_info_link_3_2}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_3_2'}}{{else}}{{settings.category_info_title_3_2}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_3_3 ''}}
        <a href="{{settings.category_info_link_3_3}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_3_3'}}{{else}}{{settings.category_info_title_3_3}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
      </div>
    </section>
    {{/is}}
    {{#is category.name settings.category_name_4}}
    <section class="section knowledge-base">
      <div id="categorypage-carousel-4" class="owl-carousel owl-theme" style="overflow:hidden;">
        {{#isnt settings.category_info_title_4_1 ''}}
        <a href="{{settings.category_info_link_4_1}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_4_1'}}{{else}}{{settings.category_info_title_4_1}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_4_2 ''}}
        <a href="{{settings.category_info_link_4_2}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_4_2'}}{{else}}{{settings.category_info_title_4_2}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_4_3 ''}}
        <a href="{{settings.category_info_link_4_3}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_4_3'}}{{else}}{{settings.category_info_title_4_3}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
      </div>
    </section>
    {{/is}}
    {{#is category.name settings.category_name_5}}
    <section class="section knowledge-base">
      <div id="categorypage-carousel-5" class="owl-carousel owl-theme" style="overflow:hidden;">
        {{#isnt settings.category_info_title_5_1 ''}}
        <a href="{{settings.category_info_link_5_1}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_5_1'}}{{else}}{{settings.category_info_title_5_1}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_5_2 ''}}
        <a href="{{settings.category_info_link_5_2}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_5_2'}}{{else}}{{settings.category_info_title_5_2}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_5_3 ''}}
        <a href="{{settings.category_info_link_5_3}}">
          <div>
            <div class="text-center">
              <h4>{{#if settings.dc_toggle}}{{dc 'category_info_title_5_3'}}{{else}}{{settings.category_info_title_5_3}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
      </div>
    </section>
    {{/is}}

    {{#is category.name 'Warranty & Returns'}}
    <div class="site-body">
      <div class="article-lists">
        <ul>
          {{#each sections}}
          <li class="list-unstyled">
            
            {{#isnt name 'Terms of Use'}}{{#isnt name 'Privacy Policy'}}{{#isnt name 'Accessibility'}}
            <a href="{{url}}" class="font-bold"><h3>{{name}}</h3></a>
            {{/isnt}}{{/isnt}}{{/isnt}}
            
            {{#if articles}}
            <div class="section-tree-articles" style="margin-left: 2rem;">
            <ul>
              {{#each articles}}
                <li>
                  <a href="{{url}}">
                    {{#if promoted}}<span class="fa fa-star" title="{{t 'promoted'}}"></span>{{/if}}
                    {{title}}
                    {{#if internal}}<span class="fas fa-lock" title="{{t 'internal'}}"></span>{{/if}}
                  </a>
                </li>
              {{/each}}
              {{#if more_articles}}
                <a href="{{url}}" class="see-all-articles">
                  {{t 'show_all_articles' count=article_count}}
                </a>
              {{/if}}
            </ul>
            </div>
            {{/if}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

    {{else}}

    {{#if sections}}
    {{!-- {{#is section.name settings.category_name_1}}
    <section class="section knowledge-base">
      <div id="categorypage-carousel-1" class="owl-carousel owl-theme" style="overflow:hidden;">
        {{#isnt settings.category_info_title_1_1 ''}}
        <a href="{{settings.category_info_link_1_1}}">
          <div>
            <div class="text-center">
              <h4 style="padding: 30px 0; margin: 0 !important">{{#if settings.dc_toggle}}{{dc 'category_info_title_1_1'}}{{else}}{{settings.category_info_title_1_1}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_1_2 ''}}
        <a href="{{settings.category_info_link_1_2}}">
          <div>
            <div class="text-center">
              <h4 style="padding: 30px 0; margin: 0 !important">{{#if settings.dc_toggle}}{{dc 'category_info_title_1_2'}}{{else}}{{settings.category_info_title_1_2}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_1_3 ''}}
        <a href="{{settings.category_info_link_1_3}}">
          <div>
            <div class="text-center">
              <h4 style="padding: 30px 0; margin: 0 !important">{{#if settings.dc_toggle}}{{dc 'category_info_title_1_3'}}{{else}}{{settings.category_info_title_1_3}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
      </div>
    </section>
    {{/is}}
    {{#is section.name settings.category_name_2}}
    <section class="section knowledge-base">
      <div id="categorypage-carousel-2" class="owl-carousel owl-theme" style="overflow:hidden;">
        {{#isnt settings.category_info_title_2_1 ''}}
        <a href="{{settings.category_info_link_2_1}}">
          <div>
            <div class="text-center">
              <h4 style="padding: 30px 0; margin: 0 !important">{{#if settings.dc_toggle}}{{dc 'category_info_title_2_1'}}{{else}}{{settings.category_info_title_2_1}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_2_2 ''}}
        <a href="{{settings.category_info_link_2_2}}">
          <div>
            <div class="text-center">
              <h4 style="padding: 30px 0; margin: 0 !important">{{#if settings.dc_toggle}}{{dc 'category_info_title_2_2'}}{{else}}{{settings.category_info_title_2_2}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_2_3 ''}}
        <a href="{{settings.category_info_link_2_3}}">
          <div>
            <div class="text-center">
              <h4 style="padding: 30px 0; margin: 0 !important">{{#if settings.dc_toggle}}{{dc 'category_info_title_2_3'}}{{else}}{{settings.category_info_title_2_3}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
      </div>
    </section>
    {{/is}}
    {{#is section.name settings.category_name_3}}
    <section class="section knowledge-base">
      <div id="categorypage-carousel-3" class="owl-carousel owl-theme" style="overflow:hidden;">
        {{#isnt settings.category_info_title_3_1 ''}}
        <a href="{{settings.category_info_link_3_1}}">
          <div>
            <div class="text-center">
              <h4 style="padding: 30px 0; margin: 0 !important">{{#if settings.dc_toggle}}{{dc 'category_info_title_3_1'}}{{else}}{{settings.category_info_title_3_1}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_3_2 ''}}
        <a href="{{settings.category_info_link_2_2}}">
          <div>
            <div class="text-center">
              <h4 style="padding: 30px 0; margin: 0 !important">{{#if settings.dc_toggle}}{{dc 'category_info_title_3_2'}}{{else}}{{settings.category_info_title_3_2}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
        {{#isnt settings.category_info_title_3_3 ''}}
        <a href="{{settings.category_info_link_3_3}}">
          <div>
            <div class="text-center">
              <h4 style="padding: 30px 0; margin: 0 !important">{{#if settings.dc_toggle}}{{dc 'category_info_title_3_3'}}{{else}}{{settings.category_info_title_3_3}}{{/if}}</h4>
            </div>
          </div>
        </a>
        {{/isnt}}
      </div>
    </section>
    {{/is}} --}}
    <div class="site-body">
      <div class="article-lists">
        <ul class="grid grid-cols-2 lg:grid-cols-5 gap-4">
        {{#each sections}}
          <li class="list-unstyled">
            <a href="{{url}}">
              {{!-- Conditional image for section based on its name --}}
              {{#is name 'Air Purifiers'}}<img class="product-thumbnail" alt="Air Purifiers" src="{{asset 'AirPurifiers-HC500.jpg'}}">{{/is}}
               {{#is name 'Carpet Cleaners'}}<img class="product-thumbnail" alt="EX200 Series" src="{{asset 'WetDry-EX200.jpg'}}">{{/is}}
              {{#is name 'Hair Care'}}<img class="product-thumbnail" alt="Vacuum Cleaners" src="{{asset 'HairCare-HD400Series.jpg'}}">{{/is}}
              {{#is name 'Hard Floor Cleaning & Irons'}}<img class="product-thumbnail" alt="Vacuum Cleaners" src="{{asset 'hard-floor-cleaning-and-irons.png'}}">{{/is}}
              {{#is name 'Hard Floor Cleaning'}}<img class="product-thumbnail" alt="Vacuum Cleaners" src="{{asset 'hard-floor-cleaning-and-irons.png'}}">{{/is}}
              {{#is name 'Robots'}}<img class="product-thumbnail" alt="Robots" src="{{asset 'robot.png'}}">{{/is}} 
              {{#is name 'Vacuums'}}<img class="product-thumbnail" alt="Vacuum Cleaners" src="{{asset 'vacuums.png'}}">{{/is}}

              {{#is name 'Vacuum Cleaners'}}<img class="product-thumbnail" alt="Vacuum Cleaners" src="{{asset 'vacuums.png'}}">{{/is}}
              {{#is name 'Steam Mops'}}<img class="product-thumbnail" alt="Steam Mops" src="{{asset 'steamMops.png'}}">{{/is}}            
              {{#is name 'Delivery'}}<img class="product-thumbnail" alt="Tracking Order" src="{{asset 'Trackorderr.png'}}">{{/is}} 
              {{#is name 'Hair Dryer'}}<img class="product-thumbnail" alt="Hair Dryers" src="{{asset 'hairdryers.png'}}">{{/is}} 
              
              
              <h4 class="section-title-link text-center">{{name}}</h4>
              {{!-- ----------------------------------------------- --}}
            </a>
          </li>
        {{/each}}
        </ul>
      </div>
    </div>
    {{/if}}
    {{/is}}
  </div>
</div>

<span id="product-category-section-id" data-catid="{{category.name}}"></span>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    HC.templates.section.init();
    HC.templates.section.getCategorySections("{{settings.section_ids}}");
  });
</script>

<script>
  $(document).ready(function(){
    let owlOptionsHomepage = {
      items: 1,
      dots: false,
      loop: true,
      slideTransition: 'linear',
      autoplay: {{ settings.info_box_carousel_autoplay }},
      autoplayTimeout: "{{settings.info_box_carousel_timeout}}",
      autoplayHoverPause: true,
      nav: true,
      navText: ['<i class="fa fa-angle-left info-box-prev" aria-hidden="true"></i>','<i class="fa fa-angle-right info-box-next" aria-hidden="true"></i>']
    }

    $("#categorypage-carousel-1").owlCarousel(owlOptionsHomepage);
    $("#categorypage-carousel-2").owlCarousel(owlOptionsHomepage);
    $("#categorypage-carousel-3").owlCarousel(owlOptionsHomepage);
    $("#categorypage-carousel-4").owlCarousel(owlOptionsHomepage);
    $("#categorypage-carousel-5").owlCarousel(owlOptionsHomepage);
  });
</script>