<script>
  $('#site-header').show();
  $('.search-full').hide();
</script>
<div class="container post-list-container">
  <div class="container-wrapper">
    <div class="row clearfix" style="margin-bottom: 1em;">
      <div class="col col-sm-8">
        {{breadcrumbs}}
      </div>
      <div class="col col-sm-4">
        <nav class="community-nav clearfix">
          <span class="dropdown">
            <button class="dropdown-toggle btn btn-default" aria-haspopup="true">
              <span class="title">
                {{t 'all_posts'}}
              </span>
            </button>
            <span class="dropdown-menu" role="menu">
              {{#link 'topics' role='menuitem'}}
                {{t 'show_topics'}}
              {{/link}}
              {{#link 'posts' role='menuitem' selected='true'}}
                {{t 'show_all_posts'}}
              {{/link}}
            </span>
          </span>
        </nav>
      </div>
    </div>


    

    <div class="topic-menu clearfix">
      <div class="topic-filters topic-menu-item">
        <span class="dropdown topic-filters-item">
          <span class="dropdown-toggle btn btn-default">
            {{current_filter.label}}
          </span>
          <span class="dropdown-menu" role="menu">
            {{#each filters}}
              <a href="{{url}}" aria-selected="{{selected}}" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </span>

        <span class="dropdown topic-filters-item">
          <span class="dropdown-toggle btn btn-default">
            {{current_sorter.label}}
          </span>
          <span class="dropdown-menu" role="menu">
            {{#each sorters}}
              <a href="{{url}}" aria-selected="{{selected}}" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </span>
      </div>
    </div>

    {{#if posts}}
      <ul class="list-unstyled post-list clearfix">
        {{#each posts}}
          <li class="post-list-item {{#if has_official_comment}} question-official-answer {{/if}} {{#if featured}} post-list-item--featured {{/if}} {{#if pinned}} post-list-item--pinned {{/if}}">
            <div class="post-list-item-col post-list-item-col-main">
              <h3 class="post-list-item-title">
                {{#if pinned}}<span class="fa fa-star"></span>{{/if}}
                <a href="{{url}}">{{title}}</a>
              </h3>
              <div class="meta post-list-item-meta">
            <span class="meta-item">
              {{#if author.url}}
                <a href="{{author.url}}" target="">
                  {{author.name}}
                </a>
              {{else}}
                {{author.name}}
              {{/if}}
            </span>
                <span class="meta-item">
                  {{date created_at timeago=true}}
                </span>
                {{#is status 'none'}}
                {{else}}
                  <span class="meta-item">
                <span class="post-status-label post-status-label-{{status_dasherized}}">
                  {{status_name}}
                </span>
              </span>
                {{/is}}
              </div>
            </div>
            <div class="post-list-item-col post-list-item-col-side">
          <span class="post-info">
            <span class="post-info-count">
              {{vote_sum}}
            </span>
            <span class="post-info-text">
              {{t 'vote' count=vote_sum}}
            </span>
          </span>
              <span class="post-info">
            <span class="post-info-count">
              {{comment_count}}
            </span>
            <span class="post-info-text">
              {{t 'comment' count=comment_count}}
            </span>
          </span>
            </div>
          </li>
        {{/each}}
      </ul>

      {{pagination}}
    {{else}}
      <p>{{t 'no_content'}}</p>
    {{/if}}
    <div class="post-suggest">
      <h3 class="post-suggest-title">{{t 'suggest_new_post'}}</h3>
      {{link 'new_post' role='button' class='btn btn-primary'}}
    </div>
  </div>
</div>