<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6FPTZR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{#if settings.info_notification_toggle}}
  <div class="info-header">
    <div class="info-banner">
      <div class="container">
        <div class="banner-header">
          <div id="info-notification-carousel" class="owl-carousel owl-theme" style="overflow: hidden;">
            {{#isnt settings.info_notification_body_1 ""}}
            <h2 style="margin-bottom: 0;" class="info-body text-center">
              {{settings.info_notification_body_1}}
              <a href="{{settings.info_notification_url_1}}" target="_blank">{{settings.info_notification_link_1}}</a>
            </h2>
            {{/isnt}}
            {{#isnt settings.info_notification_body_2 ""}}
            <h2 style="margin-bottom: 0;" class="info-body text-center">
              {{settings.info_notification_body_2}}
              <a href="{{settings.info_notification_url_2}}" target="_blank">{{settings.info_notification_link_2}}</a>
            </h2>
            {{/isnt}}
            {{#isnt settings.info_notification_body_3 ""}}
            <h2 style="margin-bottom: 0;" class="info-body text-center">
              {{settings.info_notification_body_3}}
              <a href="{{settings.info_notification_url_3}}" target="_blank">{{settings.info_notification_link_3}}</a>
            </h2>
            {{/isnt}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
<nav class="header-nav container-wrapper content-container">
    <ul>
        <li>
            <div class="header-nav__backstep">
                {{#if settings.dc_toggle}}
                    <a href="{{dc 'header_url_link_6'}}" class="header_url_link hide-on-mobile">{{dc 'header_url_title_6'}}
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="107" height="24" viewBox="0 0 107 24" fill="none">
  <g clip-path="url(#clip0_2746_749)">
    <path d="M57.3673 0.0764465C57.4054 0.165193 57.4133 0.253939 57.4133 0.342686C57.4135 8.23032 57.4131 16.118 57.407 24.041C57.2201 24.0764 57.0389 24.0764 56.8237 24.0764C56.7856 23.9877 56.7777 23.899 56.7776 23.8102C56.7775 15.9226 56.7779 8.03493 56.784 0.111863C56.971 0.0764465 57.1522 0.0764465 57.3673 0.0764465Z" fill="black"/>
    <path d="M1.54638 13.8651H1.54586C1.05605 13.8586 0.566213 13.8521 0.076416 13.8701C0.076416 14.2896 0.076416 14.6735 0.103954 15.0675C0.451074 16.6501 1.414 17.6722 2.88534 18.224C4.54333 18.8457 6.23869 18.8876 7.94639 18.4392C9.1682 18.1184 10.243 17.5495 11.0311 16.5282C12.5928 14.5048 12.0091 11.8243 9.73286 10.6899C9.24816 10.4483 8.72395 10.2821 8.20259 10.1169L8.20225 10.1168C8.09414 10.0825 7.98615 10.0483 7.87866 10.0134C7.60393 9.92433 7.32503 9.84757 7.04621 9.77083C6.68947 9.67264 6.33285 9.57449 5.98524 9.45059C5.64253 9.32843 5.3808 9.07087 5.41527 8.63964C5.44988 8.20681 5.68642 7.89511 6.08492 7.80945C6.54838 7.70983 7.04298 7.64333 7.50945 7.69484C8.26957 7.77877 8.54282 8.11683 8.66233 8.88278C8.66852 8.92248 8.6857 8.96045 8.70362 9.00005C8.71218 9.01897 8.7209 9.03826 8.72868 9.05828H12.5018C12.6206 7.22284 11.6989 5.75824 10.0114 5.13004C8.46845 4.55565 6.88064 4.50863 5.28157 4.87763C4.15462 5.13769 3.15429 5.63336 2.38132 6.52123C0.773525 8.36802 1.30016 11.1391 3.48189 12.2303C3.92504 12.4519 4.39835 12.6167 4.8689 12.7805C4.92553 12.8002 4.98213 12.8199 5.03862 12.8397C5.36558 12.9541 5.69545 13.0604 6.0253 13.1667C6.43154 13.2976 6.8378 13.4285 7.23848 13.5747C7.62583 13.716 7.92832 13.9877 7.93067 14.4431C7.93305 14.9066 7.67418 15.2284 7.28023 15.4454C6.65754 15.7884 5.99354 15.7778 5.31289 15.687C4.70184 15.6054 4.36008 15.2448 4.20728 14.6827C4.16059 14.511 4.13762 14.3328 4.11335 14.1445C4.10193 14.0559 4.09023 13.9651 4.07563 13.8717C3.86316 13.8717 3.65084 13.8721 3.43863 13.8726C2.95168 13.8736 2.46529 13.8746 1.97895 13.8703C1.83503 13.869 1.69111 13.8671 1.54719 13.8651L1.54638 13.8651Z" fill="black"/>
    <path d="M72.3953 18.818V6.19122C72.3953 6.0783 72.397 5.96855 72.3987 5.86117V5.85991C72.4028 5.60444 72.4066 5.36228 72.3862 5.12218C72.3773 5.01748 72.3217 4.91676 72.2661 4.81604C72.2408 4.77032 72.2156 4.72459 72.1947 4.6785L72.0606 4.72344V18.5352L70.1789 18.7448L70.1366 18.839C70.1722 18.8585 70.2084 18.8841 70.2445 18.9097C70.3227 18.965 70.401 19.0203 70.4746 19.0148C70.9465 18.9791 71.4171 18.9266 71.8988 18.8728C72.0628 18.8545 72.2281 18.836 72.3953 18.818Z" fill="black"/>
    <path d="M102.92 16.7446C103.925 16.7568 104.931 16.7441 105.936 16.7134C105.936 16.6539 105.936 16.62 105.909 16.5796C105.083 14.581 104.27 12.5844 103.457 10.59L103.452 10.5788L103.452 10.5778L103.451 10.5761L103.45 10.5733L103.45 10.5723L103.449 10.5713L103.449 10.5707L103.448 10.5689L103.448 10.5676L103.447 10.5655C102.975 9.40618 102.502 8.24766 102.028 7.08992C101.97 6.94693 101.86 6.8248 101.751 6.70267C101.7 6.64585 101.649 6.58904 101.603 6.53013L101.487 6.61018L105.471 16.4331H102.612L102.565 16.5311C102.603 16.5547 102.64 16.5846 102.678 16.6145C102.758 16.679 102.839 16.7436 102.92 16.7446Z" fill="black"/>
    <path d="M18.0304 18.4078C18.0984 18.089 18.1659 17.773 18.2329 17.4589C18.3856 16.7441 18.5362 16.0392 18.6853 15.334C18.7407 15.0717 18.7982 14.8098 18.8557 14.5479C19.0026 13.879 19.1495 13.21 19.2623 12.5354C19.3849 11.8025 18.9946 11.3949 18.2611 11.3888C17.4537 11.382 16.9008 11.7381 16.6548 12.5832C16.4435 13.3092 16.2856 14.0509 16.1277 14.7923L16.1277 14.7925C16.0765 15.0329 16.0253 15.2733 15.9723 15.5131C15.8258 16.1762 15.6857 16.8407 15.5448 17.5087L15.5448 17.5088C15.4827 17.8031 15.4205 18.098 15.3576 18.3938H11.6059L14.375 4.9808H18.1266L17.1721 9.61359C17.3423 9.51169 17.511 9.40197 17.6807 9.29162C18.0619 9.0437 18.4479 8.79262 18.8663 8.61997C19.8371 8.21939 20.8462 8.32131 21.8038 8.72115C22.8937 9.17624 23.4316 10.2245 23.1955 11.5238C22.9619 12.8088 22.6943 14.0876 22.4268 15.3664C22.3275 15.8411 22.2282 16.3158 22.1306 16.7908C22.0555 17.1564 21.9748 17.5207 21.8928 17.8904L21.8927 17.8909C21.8548 18.0618 21.8167 18.2339 21.7788 18.4078L18.0304 18.4078Z" fill="black"/>
    <path d="M45.804 18.3874C45.9258 17.8155 46.0446 17.2578 46.168 16.668C46.2388 15.8951 46.5165 15.2858 47.2363 14.9378C47.3388 15.2103 47.4416 15.4826 47.5445 15.7547L47.5477 15.7634L47.548 15.7642C47.8478 16.5574 48.1472 17.3499 48.4359 18.1464C48.5095 18.3494 48.6001 18.4153 48.8142 18.4131C49.6457 18.4048 50.4773 18.4059 51.309 18.407H51.3093C51.5984 18.4074 51.8875 18.4078 52.1765 18.4078H52.6131L50.1257 12.5769L54.5284 8.6368C54.1445 8.6368 53.7681 8.64025 53.3972 8.64366H53.3963C52.5169 8.65172 51.6681 8.65951 50.8214 8.6204C50.2108 8.5922 49.8276 8.81438 49.4222 9.23775C48.9297 9.75203 48.3964 10.2273 47.8994 10.6702L47.8993 10.6703C47.6994 10.8484 47.5054 11.0213 47.3223 11.1894L48.5915 4.98497H44.8392L42.0539 18.3878H45.8039L45.804 18.3874Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M34.1667 11.3016C33.8972 12.7725 33.6316 14.2076 33.3582 15.6413C33.3208 15.8371 33.2761 16.0317 33.2314 16.2263C33.1593 16.54 33.0872 16.8534 33.0463 17.1711C33.0112 17.4433 33.0196 17.7211 33.0282 18.0087C33.0321 18.1395 33.0361 18.2722 33.0361 18.4074C32.8389 18.4074 32.6396 18.4075 32.4388 18.4076C31.5246 18.4081 30.5771 18.4085 29.6297 18.4001C29.561 18.3995 29.4515 18.3043 29.4328 18.234C29.3915 18.0787 29.3676 17.9187 29.3415 17.7438C29.3309 17.6727 29.32 17.5991 29.3073 17.5224C28.7508 18.0501 28.0953 18.38 27.3527 18.5348C26.4228 18.7286 25.5045 18.709 24.6173 18.3459C23.7749 18.0012 23.2567 17.3796 23.1525 16.4614C22.9462 14.6441 23.7651 13.3859 25.5548 12.9444C26.2156 12.7814 26.8988 12.7086 27.5818 12.6359L27.582 12.6358C27.873 12.6048 28.164 12.5738 28.4532 12.5358C28.6098 12.5153 28.7672 12.4992 28.9246 12.4832L28.9247 12.4831C29.2092 12.4541 29.4935 12.4251 29.7726 12.3695C29.9722 12.3298 30.1808 12.2083 30.3298 12.0658C30.7984 11.6178 30.6201 10.9007 30.0079 10.694C29.1123 10.3916 28.3211 10.73 27.9298 11.593H24.4307C24.7214 10.2378 25.448 9.27585 26.7505 8.7867C27.6718 8.44072 28.6342 8.38618 29.6047 8.39449C30.5742 8.40279 31.5359 8.47063 32.4598 8.79675C33.6976 9.23366 34.2254 10.0004 34.1667 11.3016ZM29.6632 15.3979L30.0403 14.2036C29.8332 14.2371 29.6313 14.2679 29.4333 14.2981L29.433 14.2982C28.9635 14.3699 28.5159 14.4382 28.0731 14.5298C27.7718 14.592 27.4567 14.6957 27.2056 14.8658C26.8857 15.0826 26.8145 15.4492 26.905 15.8227C26.9863 16.1584 27.2405 16.3029 27.5605 16.3788C28.4515 16.59 29.1374 16.2897 29.6632 15.3979Z" fill="black"/>
    <path d="M41.3342 8.58258C40.6007 8.86284 40.0428 9.37628 39.5327 9.95151L39.4866 10.047C39.4746 10.0103 39.4625 9.97357 39.463 9.8881C39.5561 9.44734 39.6368 9.0553 39.7207 8.64785L39.7208 8.64719H36.0844L34.0702 18.3909H37.8235C37.8729 18.1518 37.9207 17.9138 37.9683 17.6767L37.9683 17.6766C38.0746 17.1471 38.1799 16.6222 38.3013 16.1011C38.3483 15.8993 38.3942 15.6971 38.4401 15.4947C38.6216 14.6941 38.8034 13.8925 39.0567 13.1148C39.3774 12.13 40.1476 11.6316 41.1823 11.6269C41.5768 11.6251 41.9715 11.6668 42.3735 11.7093C42.5568 11.7287 42.7416 11.7482 42.9286 11.7638L43.6069 8.52796C42.8021 8.36187 42.064 8.30373 41.3342 8.58258Z" fill="black"/>
    <path d="M63.5515 9.61979L63.5505 9.61834V19.516L60.7436 20.0145V2.75971C60.922 2.79417 61.1001 2.82777 61.2779 2.8613C61.7991 2.95961 62.3169 3.0573 62.8304 3.17434C62.9492 3.20143 63.0541 3.35722 63.1349 3.47717L63.1391 3.48343C64.7361 5.85375 66.3302 8.22604 67.9243 10.5983C68.273 11.1172 68.6217 11.6361 68.9704 12.155C68.9997 12.1987 69.0299 12.2419 69.0737 12.3048C69.0991 12.3413 69.1292 12.3844 69.1664 12.438V4.14077L71.7704 4.49098V18.267C71.6215 18.2822 71.4728 18.2991 71.3241 18.316C70.9201 18.362 70.5166 18.4078 70.1123 18.4196C69.9781 18.4235 69.8051 18.2411 69.7052 18.1041C68.3653 16.2657 67.0302 14.424 65.6884 12.573C65.2297 11.9403 64.7702 11.3064 64.3095 10.6713C64.0634 10.3315 63.8344 10.0131 63.5515 9.61979Z" fill="black"/>
    <path d="M79.1195 17.4601C79.385 17.429 79.6251 17.4009 79.8999 17.3677C80.4229 17.3074 80.9112 17.2522 81.4262 17.194V10.1843C81.4714 10.2405 81.5105 10.2884 81.5454 10.3311L81.5457 10.3315C81.6098 10.4099 81.6596 10.4708 81.7064 10.5339C82.0854 11.044 82.4642 11.5541 82.843 12.0642L82.8487 12.072C83.97 13.5819 85.0912 15.0918 86.2156 16.5993C86.2923 16.7021 86.4182 16.8434 86.5182 16.8411C86.9421 16.831 87.3656 16.7996 87.7879 16.7684C87.9314 16.7577 88.0747 16.7471 88.2179 16.7374V6.0513L85.9228 5.86439V12.2855C85.8704 12.2164 85.8254 12.1572 85.7854 12.1045C85.7116 12.0075 85.6543 11.9322 85.5978 11.8564C85.2874 11.4409 84.9771 11.0254 84.6668 10.6098C83.4619 8.99634 82.257 7.38283 81.0498 5.77108C81.0421 5.76086 81.0343 5.75023 81.0262 5.73935C80.9502 5.63642 80.8576 5.51116 80.7601 5.49756C80.3553 5.44109 79.9475 5.40564 79.5426 5.37044C79.4011 5.35814 79.26 5.34588 79.1195 5.33275V17.4601Z" fill="black"/>
    <path d="M99.7044 9.73374C99.5961 9.99888 99.4878 10.264 99.3718 10.5577C99.1545 11.1238 98.9449 11.6613 98.7333 12.204C98.9626 12.2863 99.0783 12.2421 99.1552 12.0171C99.2425 11.7615 99.3391 11.5091 99.4357 11.2566C99.5511 10.9551 99.6664 10.6537 99.7659 10.347C99.8068 10.2208 99.796 10.0778 99.7852 9.93484C99.7802 9.86944 99.7753 9.80405 99.7753 9.74025L99.7044 9.73374Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M97.5971 14.7119C97.3902 15.2766 97.1927 15.8101 96.9735 16.4019L96.9719 16.4062H94.2658L98.3527 6.53382C98.5656 6.53382 98.7762 6.53321 98.985 6.53261C99.6518 6.53067 100.301 6.5288 100.949 6.54699C101.059 6.55008 101.213 6.71183 101.264 6.83445C101.972 8.55591 102.67 10.2816 103.368 12.0073C103.455 12.2222 103.542 12.4371 103.629 12.6519C103.981 13.522 104.332 14.3927 104.682 15.2634L104.687 15.2751C104.776 15.4949 104.864 15.7147 104.952 15.9344C104.967 15.9716 104.98 16.0097 104.996 16.0537L104.996 16.0545C105.003 16.0767 105.012 16.1005 105.021 16.1265H102.429C102.381 16.0072 102.334 15.8874 102.287 15.7675C102.159 15.4396 102.03 15.1111 101.883 14.7912C101.835 14.6872 101.673 14.5727 101.561 14.5713C100.339 14.5556 99.1161 14.5588 97.8934 14.5666C97.8083 14.5672 97.7235 14.6253 97.6321 14.688L97.6133 14.7009C97.6079 14.7046 97.6025 14.7082 97.5971 14.7119ZM98.9425 10.9275L98.3319 12.5081H101.127L99.7335 8.89849C99.453 9.62175 99.2103 10.2477 98.9425 10.9275Z" fill="black"/>
    <path d="M90.381 6.13118C90.381 9.18583 90.381 12.1911 90.3787 15.2321C90.2187 17.8984 89.6561 20.4312 88.5064 22.8751C88.5418 22.8612 88.5705 22.8512 88.5944 22.8428L88.5946 22.8428C88.6353 22.8286 88.6623 22.8191 88.6853 22.8037C88.8659 22.6826 89.0466 22.5616 89.2272 22.4406L89.228 22.4401L89.2281 22.44C90.0509 21.8891 90.8737 21.3382 91.6884 20.7757C91.8088 20.6925 91.8974 20.5249 91.9436 20.3785C92.4933 18.6338 92.8091 16.84 92.8412 15.0168C92.877 12.9878 92.8725 10.9582 92.8681 8.92856C92.8663 8.09207 92.8644 7.25559 92.8654 6.41916C92.8655 6.3871 92.8606 6.35503 92.8546 6.31511C92.8514 6.29374 92.8478 6.27012 92.8445 6.24305L90.381 6.13118Z" fill="black"/>
    <path d="M75.2168 4.89437C75.6794 4.95143 76.108 5.00598 76.5615 5.0637V17.6582L74.4286 17.9169V4.80812C74.6862 4.83672 74.9345 4.86429 75.2168 4.89437Z" fill="black"/>
    <path d="M93.1707 6.35041V13.8342C93.1641 16.1346 92.8972 18.3599 92.1924 20.5179C92.1282 20.7144 91.9743 20.9188 91.8046 21.0375C91.2369 21.4347 90.6592 21.8176 90.0815 22.2005L90.0813 22.2007L90.0789 22.2023C89.8312 22.3665 89.5834 22.5307 89.3365 22.696C89.1801 22.8008 89.026 22.9091 88.8719 23.0174C88.8013 23.0671 88.7306 23.1168 88.6597 23.1661L88.7139 23.2962C88.7789 23.2758 88.8467 23.2595 88.9145 23.2432C89.0613 23.2078 89.2082 23.1725 89.3279 23.0951C90.2344 22.5085 91.1346 21.9109 92.0166 21.2884C92.2156 21.1479 92.4008 20.9151 92.4781 20.6862C93.0917 18.8679 93.4162 16.9865 93.454 15.0751C93.4973 12.8787 93.4871 10.6812 93.477 8.48393V8.48226C93.4744 7.93047 93.4718 7.37869 93.4701 6.82695C93.4698 6.70892 93.4101 6.59107 93.3504 6.47322C93.3226 6.41839 93.2949 6.36357 93.2731 6.30872L93.1707 6.35041Z" fill="black"/>
    <path d="M88.8675 7.11421V17.2941C87.6156 17.5412 86.7026 17.4893 86.5056 17.1409C86.6127 17.1333 86.7185 17.1256 86.8234 17.118L86.8239 17.118C87.0611 17.1008 87.2937 17.084 87.5264 17.0691C87.7516 17.0546 87.9769 17.0421 88.2123 17.029C88.3185 17.0231 88.4268 17.0171 88.538 17.0108V6.11864C88.8848 6.30646 88.876 6.58049 88.8669 6.86574C88.8643 6.94823 88.8616 7.03166 88.8675 7.11421Z" fill="black"/>
    <path d="M77.2107 18.1991V11.8472C77.2107 11.3629 77.2106 10.8808 77.2105 10.4002C77.2101 8.80884 77.2098 7.2348 77.2133 5.66078C77.2139 5.41756 77.1938 5.20833 76.8842 5.13388V17.9189L74.5508 18.2079C74.6399 18.358 74.7653 18.4844 74.8774 18.4736C75.4589 18.4175 76.0389 18.345 76.6305 18.2711C76.8225 18.2471 77.0157 18.2229 77.2107 18.1991Z" fill="black"/>
    <path d="M62.0278 20.4304L62.0277 20.4304C61.8289 20.4711 61.6417 20.5093 61.4529 20.5217C61.3462 20.5287 61.2369 20.4972 61.1276 20.4657C61.0784 20.4515 61.0293 20.4373 60.9803 20.4267L60.9981 20.2876L63.8029 19.7667V10.5711L63.9067 10.5384C63.9291 10.5968 63.9575 10.655 63.9859 10.7133C64.047 10.8386 64.1081 10.9639 64.1086 11.0894C64.1194 13.6116 64.118 16.1338 64.1166 18.656L64.1163 19.1393C64.1162 19.3949 64.116 19.6505 64.1159 19.9061C64.1159 19.9292 64.1104 19.9524 64.1028 19.9838C64.0986 20.0015 64.0937 20.0218 64.0889 20.0461C63.499 20.1547 62.9018 20.2646 62.2727 20.382C62.1886 20.3975 62.1073 20.4142 62.0278 20.4304Z" fill="black"/>
    <path d="M81.6909 11.105V17.4587L79.0094 17.7511C79.0788 17.7966 79.1376 17.8433 79.1892 17.8841C79.2823 17.9579 79.3514 18.0127 79.4155 18.0073C80.0762 17.9522 80.7356 17.8816 81.4021 17.8103L81.4022 17.8103C81.6018 17.7889 81.802 17.7675 82.0031 17.7464C82.0031 17.3108 82.0033 16.8767 82.0035 16.4438C82.0044 14.8196 82.0053 13.2125 81.9936 11.6055C81.9928 11.4852 81.93 11.3653 81.8673 11.2454L81.8671 11.2451C81.838 11.1895 81.809 11.1339 81.786 11.0783L81.6909 11.105Z" fill="black"/>
    <path d="M96.5667 16.9861C96.3694 16.9959 96.1748 17.0051 95.9822 17.0143C95.4845 17.0379 95 17.061 94.5159 17.0908C94.27 17.1059 94.2044 16.9831 94.2201 16.66C94.4624 16.66 94.705 16.6588 94.9478 16.6577H94.948C95.577 16.6548 96.2076 16.6519 96.8378 16.6685C97.1131 16.6757 97.2138 16.5671 97.2899 16.3342C97.4316 15.9003 97.5847 15.469 97.7613 15.0484C97.7923 14.9748 97.8728 14.9219 97.9532 14.869L97.9534 14.8689C97.9903 14.8447 98.0272 14.8204 98.0594 14.7941L98.1539 14.8823C98.1019 15.0262 98.0502 15.1702 97.9985 15.3142C97.8164 15.8216 97.6343 16.329 97.442 16.8326C97.4169 16.8983 97.2943 16.9553 97.2111 16.9647C97.0719 16.9805 96.931 16.9817 96.7783 16.983C96.7104 16.9836 96.6402 16.9842 96.5667 16.9861Z" fill="black"/>
  </g>
  <defs>
    <clipPath id="clip0_2746_749">
      <rect width="106.5" height="24" fill="white"/>
    </clipPath>
  </defs>
</svg>
                        </span>
                    </a>
                {{else}}
                    <a href="{{settings.header_url_link_6}}" class="header_url_link hide-on-mobile">{{settings.header_url_title_6}}
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="107" height="24" viewBox="0 0 107 24" fill="none">
  <g clip-path="url(#clip0_2746_749)">
    <path d="M57.3673 0.0764465C57.4054 0.165193 57.4133 0.253939 57.4133 0.342686C57.4135 8.23032 57.4131 16.118 57.407 24.041C57.2201 24.0764 57.0389 24.0764 56.8237 24.0764C56.7856 23.9877 56.7777 23.899 56.7776 23.8102C56.7775 15.9226 56.7779 8.03493 56.784 0.111863C56.971 0.0764465 57.1522 0.0764465 57.3673 0.0764465Z" fill="black"/>
    <path d="M1.54638 13.8651H1.54586C1.05605 13.8586 0.566213 13.8521 0.076416 13.8701C0.076416 14.2896 0.076416 14.6735 0.103954 15.0675C0.451074 16.6501 1.414 17.6722 2.88534 18.224C4.54333 18.8457 6.23869 18.8876 7.94639 18.4392C9.1682 18.1184 10.243 17.5495 11.0311 16.5282C12.5928 14.5048 12.0091 11.8243 9.73286 10.6899C9.24816 10.4483 8.72395 10.2821 8.20259 10.1169L8.20225 10.1168C8.09414 10.0825 7.98615 10.0483 7.87866 10.0134C7.60393 9.92433 7.32503 9.84757 7.04621 9.77083C6.68947 9.67264 6.33285 9.57449 5.98524 9.45059C5.64253 9.32843 5.3808 9.07087 5.41527 8.63964C5.44988 8.20681 5.68642 7.89511 6.08492 7.80945C6.54838 7.70983 7.04298 7.64333 7.50945 7.69484C8.26957 7.77877 8.54282 8.11683 8.66233 8.88278C8.66852 8.92248 8.6857 8.96045 8.70362 9.00005C8.71218 9.01897 8.7209 9.03826 8.72868 9.05828H12.5018C12.6206 7.22284 11.6989 5.75824 10.0114 5.13004C8.46845 4.55565 6.88064 4.50863 5.28157 4.87763C4.15462 5.13769 3.15429 5.63336 2.38132 6.52123C0.773525 8.36802 1.30016 11.1391 3.48189 12.2303C3.92504 12.4519 4.39835 12.6167 4.8689 12.7805C4.92553 12.8002 4.98213 12.8199 5.03862 12.8397C5.36558 12.9541 5.69545 13.0604 6.0253 13.1667C6.43154 13.2976 6.8378 13.4285 7.23848 13.5747C7.62583 13.716 7.92832 13.9877 7.93067 14.4431C7.93305 14.9066 7.67418 15.2284 7.28023 15.4454C6.65754 15.7884 5.99354 15.7778 5.31289 15.687C4.70184 15.6054 4.36008 15.2448 4.20728 14.6827C4.16059 14.511 4.13762 14.3328 4.11335 14.1445C4.10193 14.0559 4.09023 13.9651 4.07563 13.8717C3.86316 13.8717 3.65084 13.8721 3.43863 13.8726C2.95168 13.8736 2.46529 13.8746 1.97895 13.8703C1.83503 13.869 1.69111 13.8671 1.54719 13.8651L1.54638 13.8651Z" fill="black"/>
    <path d="M72.3953 18.818V6.19122C72.3953 6.0783 72.397 5.96855 72.3987 5.86117V5.85991C72.4028 5.60444 72.4066 5.36228 72.3862 5.12218C72.3773 5.01748 72.3217 4.91676 72.2661 4.81604C72.2408 4.77032 72.2156 4.72459 72.1947 4.6785L72.0606 4.72344V18.5352L70.1789 18.7448L70.1366 18.839C70.1722 18.8585 70.2084 18.8841 70.2445 18.9097C70.3227 18.965 70.401 19.0203 70.4746 19.0148C70.9465 18.9791 71.4171 18.9266 71.8988 18.8728C72.0628 18.8545 72.2281 18.836 72.3953 18.818Z" fill="black"/>
    <path d="M102.92 16.7446C103.925 16.7568 104.931 16.7441 105.936 16.7134C105.936 16.6539 105.936 16.62 105.909 16.5796C105.083 14.581 104.27 12.5844 103.457 10.59L103.452 10.5788L103.452 10.5778L103.451 10.5761L103.45 10.5733L103.45 10.5723L103.449 10.5713L103.449 10.5707L103.448 10.5689L103.448 10.5676L103.447 10.5655C102.975 9.40618 102.502 8.24766 102.028 7.08992C101.97 6.94693 101.86 6.8248 101.751 6.70267C101.7 6.64585 101.649 6.58904 101.603 6.53013L101.487 6.61018L105.471 16.4331H102.612L102.565 16.5311C102.603 16.5547 102.64 16.5846 102.678 16.6145C102.758 16.679 102.839 16.7436 102.92 16.7446Z" fill="black"/>
    <path d="M18.0304 18.4078C18.0984 18.089 18.1659 17.773 18.2329 17.4589C18.3856 16.7441 18.5362 16.0392 18.6853 15.334C18.7407 15.0717 18.7982 14.8098 18.8557 14.5479C19.0026 13.879 19.1495 13.21 19.2623 12.5354C19.3849 11.8025 18.9946 11.3949 18.2611 11.3888C17.4537 11.382 16.9008 11.7381 16.6548 12.5832C16.4435 13.3092 16.2856 14.0509 16.1277 14.7923L16.1277 14.7925C16.0765 15.0329 16.0253 15.2733 15.9723 15.5131C15.8258 16.1762 15.6857 16.8407 15.5448 17.5087L15.5448 17.5088C15.4827 17.8031 15.4205 18.098 15.3576 18.3938H11.6059L14.375 4.9808H18.1266L17.1721 9.61359C17.3423 9.51169 17.511 9.40197 17.6807 9.29162C18.0619 9.0437 18.4479 8.79262 18.8663 8.61997C19.8371 8.21939 20.8462 8.32131 21.8038 8.72115C22.8937 9.17624 23.4316 10.2245 23.1955 11.5238C22.9619 12.8088 22.6943 14.0876 22.4268 15.3664C22.3275 15.8411 22.2282 16.3158 22.1306 16.7908C22.0555 17.1564 21.9748 17.5207 21.8928 17.8904L21.8927 17.8909C21.8548 18.0618 21.8167 18.2339 21.7788 18.4078L18.0304 18.4078Z" fill="black"/>
    <path d="M45.804 18.3874C45.9258 17.8155 46.0446 17.2578 46.168 16.668C46.2388 15.8951 46.5165 15.2858 47.2363 14.9378C47.3388 15.2103 47.4416 15.4826 47.5445 15.7547L47.5477 15.7634L47.548 15.7642C47.8478 16.5574 48.1472 17.3499 48.4359 18.1464C48.5095 18.3494 48.6001 18.4153 48.8142 18.4131C49.6457 18.4048 50.4773 18.4059 51.309 18.407H51.3093C51.5984 18.4074 51.8875 18.4078 52.1765 18.4078H52.6131L50.1257 12.5769L54.5284 8.6368C54.1445 8.6368 53.7681 8.64025 53.3972 8.64366H53.3963C52.5169 8.65172 51.6681 8.65951 50.8214 8.6204C50.2108 8.5922 49.8276 8.81438 49.4222 9.23775C48.9297 9.75203 48.3964 10.2273 47.8994 10.6702L47.8993 10.6703C47.6994 10.8484 47.5054 11.0213 47.3223 11.1894L48.5915 4.98497H44.8392L42.0539 18.3878H45.8039L45.804 18.3874Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M34.1667 11.3016C33.8972 12.7725 33.6316 14.2076 33.3582 15.6413C33.3208 15.8371 33.2761 16.0317 33.2314 16.2263C33.1593 16.54 33.0872 16.8534 33.0463 17.1711C33.0112 17.4433 33.0196 17.7211 33.0282 18.0087C33.0321 18.1395 33.0361 18.2722 33.0361 18.4074C32.8389 18.4074 32.6396 18.4075 32.4388 18.4076C31.5246 18.4081 30.5771 18.4085 29.6297 18.4001C29.561 18.3995 29.4515 18.3043 29.4328 18.234C29.3915 18.0787 29.3676 17.9187 29.3415 17.7438C29.3309 17.6727 29.32 17.5991 29.3073 17.5224C28.7508 18.0501 28.0953 18.38 27.3527 18.5348C26.4228 18.7286 25.5045 18.709 24.6173 18.3459C23.7749 18.0012 23.2567 17.3796 23.1525 16.4614C22.9462 14.6441 23.7651 13.3859 25.5548 12.9444C26.2156 12.7814 26.8988 12.7086 27.5818 12.6359L27.582 12.6358C27.873 12.6048 28.164 12.5738 28.4532 12.5358C28.6098 12.5153 28.7672 12.4992 28.9246 12.4832L28.9247 12.4831C29.2092 12.4541 29.4935 12.4251 29.7726 12.3695C29.9722 12.3298 30.1808 12.2083 30.3298 12.0658C30.7984 11.6178 30.6201 10.9007 30.0079 10.694C29.1123 10.3916 28.3211 10.73 27.9298 11.593H24.4307C24.7214 10.2378 25.448 9.27585 26.7505 8.7867C27.6718 8.44072 28.6342 8.38618 29.6047 8.39449C30.5742 8.40279 31.5359 8.47063 32.4598 8.79675C33.6976 9.23366 34.2254 10.0004 34.1667 11.3016ZM29.6632 15.3979L30.0403 14.2036C29.8332 14.2371 29.6313 14.2679 29.4333 14.2981L29.433 14.2982C28.9635 14.3699 28.5159 14.4382 28.0731 14.5298C27.7718 14.592 27.4567 14.6957 27.2056 14.8658C26.8857 15.0826 26.8145 15.4492 26.905 15.8227C26.9863 16.1584 27.2405 16.3029 27.5605 16.3788C28.4515 16.59 29.1374 16.2897 29.6632 15.3979Z" fill="black"/>
    <path d="M41.3342 8.58258C40.6007 8.86284 40.0428 9.37628 39.5327 9.95151L39.4866 10.047C39.4746 10.0103 39.4625 9.97357 39.463 9.8881C39.5561 9.44734 39.6368 9.0553 39.7207 8.64785L39.7208 8.64719H36.0844L34.0702 18.3909H37.8235C37.8729 18.1518 37.9207 17.9138 37.9683 17.6767L37.9683 17.6766C38.0746 17.1471 38.1799 16.6222 38.3013 16.1011C38.3483 15.8993 38.3942 15.6971 38.4401 15.4947C38.6216 14.6941 38.8034 13.8925 39.0567 13.1148C39.3774 12.13 40.1476 11.6316 41.1823 11.6269C41.5768 11.6251 41.9715 11.6668 42.3735 11.7093C42.5568 11.7287 42.7416 11.7482 42.9286 11.7638L43.6069 8.52796C42.8021 8.36187 42.064 8.30373 41.3342 8.58258Z" fill="black"/>
    <path d="M63.5515 9.61979L63.5505 9.61834V19.516L60.7436 20.0145V2.75971C60.922 2.79417 61.1001 2.82777 61.2779 2.8613C61.7991 2.95961 62.3169 3.0573 62.8304 3.17434C62.9492 3.20143 63.0541 3.35722 63.1349 3.47717L63.1391 3.48343C64.7361 5.85375 66.3302 8.22604 67.9243 10.5983C68.273 11.1172 68.6217 11.6361 68.9704 12.155C68.9997 12.1987 69.0299 12.2419 69.0737 12.3048C69.0991 12.3413 69.1292 12.3844 69.1664 12.438V4.14077L71.7704 4.49098V18.267C71.6215 18.2822 71.4728 18.2991 71.3241 18.316C70.9201 18.362 70.5166 18.4078 70.1123 18.4196C69.9781 18.4235 69.8051 18.2411 69.7052 18.1041C68.3653 16.2657 67.0302 14.424 65.6884 12.573C65.2297 11.9403 64.7702 11.3064 64.3095 10.6713C64.0634 10.3315 63.8344 10.0131 63.5515 9.61979Z" fill="black"/>
    <path d="M79.1195 17.4601C79.385 17.429 79.6251 17.4009 79.8999 17.3677C80.4229 17.3074 80.9112 17.2522 81.4262 17.194V10.1843C81.4714 10.2405 81.5105 10.2884 81.5454 10.3311L81.5457 10.3315C81.6098 10.4099 81.6596 10.4708 81.7064 10.5339C82.0854 11.044 82.4642 11.5541 82.843 12.0642L82.8487 12.072C83.97 13.5819 85.0912 15.0918 86.2156 16.5993C86.2923 16.7021 86.4182 16.8434 86.5182 16.8411C86.9421 16.831 87.3656 16.7996 87.7879 16.7684C87.9314 16.7577 88.0747 16.7471 88.2179 16.7374V6.0513L85.9228 5.86439V12.2855C85.8704 12.2164 85.8254 12.1572 85.7854 12.1045C85.7116 12.0075 85.6543 11.9322 85.5978 11.8564C85.2874 11.4409 84.9771 11.0254 84.6668 10.6098C83.4619 8.99634 82.257 7.38283 81.0498 5.77108C81.0421 5.76086 81.0343 5.75023 81.0262 5.73935C80.9502 5.63642 80.8576 5.51116 80.7601 5.49756C80.3553 5.44109 79.9475 5.40564 79.5426 5.37044C79.4011 5.35814 79.26 5.34588 79.1195 5.33275V17.4601Z" fill="black"/>
    <path d="M99.7044 9.73374C99.5961 9.99888 99.4878 10.264 99.3718 10.5577C99.1545 11.1238 98.9449 11.6613 98.7333 12.204C98.9626 12.2863 99.0783 12.2421 99.1552 12.0171C99.2425 11.7615 99.3391 11.5091 99.4357 11.2566C99.5511 10.9551 99.6664 10.6537 99.7659 10.347C99.8068 10.2208 99.796 10.0778 99.7852 9.93484C99.7802 9.86944 99.7753 9.80405 99.7753 9.74025L99.7044 9.73374Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M97.5971 14.7119C97.3902 15.2766 97.1927 15.8101 96.9735 16.4019L96.9719 16.4062H94.2658L98.3527 6.53382C98.5656 6.53382 98.7762 6.53321 98.985 6.53261C99.6518 6.53067 100.301 6.5288 100.949 6.54699C101.059 6.55008 101.213 6.71183 101.264 6.83445C101.972 8.55591 102.67 10.2816 103.368 12.0073C103.455 12.2222 103.542 12.4371 103.629 12.6519C103.981 13.522 104.332 14.3927 104.682 15.2634L104.687 15.2751C104.776 15.4949 104.864 15.7147 104.952 15.9344C104.967 15.9716 104.98 16.0097 104.996 16.0537L104.996 16.0545C105.003 16.0767 105.012 16.1005 105.021 16.1265H102.429C102.381 16.0072 102.334 15.8874 102.287 15.7675C102.159 15.4396 102.03 15.1111 101.883 14.7912C101.835 14.6872 101.673 14.5727 101.561 14.5713C100.339 14.5556 99.1161 14.5588 97.8934 14.5666C97.8083 14.5672 97.7235 14.6253 97.6321 14.688L97.6133 14.7009C97.6079 14.7046 97.6025 14.7082 97.5971 14.7119ZM98.9425 10.9275L98.3319 12.5081H101.127L99.7335 8.89849C99.453 9.62175 99.2103 10.2477 98.9425 10.9275Z" fill="black"/>
    <path d="M90.381 6.13118C90.381 9.18583 90.381 12.1911 90.3787 15.2321C90.2187 17.8984 89.6561 20.4312 88.5064 22.8751C88.5418 22.8612 88.5705 22.8512 88.5944 22.8428L88.5946 22.8428C88.6353 22.8286 88.6623 22.8191 88.6853 22.8037C88.8659 22.6826 89.0466 22.5616 89.2272 22.4406L89.228 22.4401L89.2281 22.44C90.0509 21.8891 90.8737 21.3382 91.6884 20.7757C91.8088 20.6925 91.8974 20.5249 91.9436 20.3785C92.4933 18.6338 92.8091 16.84 92.8412 15.0168C92.877 12.9878 92.8725 10.9582 92.8681 8.92856C92.8663 8.09207 92.8644 7.25559 92.8654 6.41916C92.8655 6.3871 92.8606 6.35503 92.8546 6.31511C92.8514 6.29374 92.8478 6.27012 92.8445 6.24305L90.381 6.13118Z" fill="black"/>
    <path d="M75.2168 4.89437C75.6794 4.95143 76.108 5.00598 76.5615 5.0637V17.6582L74.4286 17.9169V4.80812C74.6862 4.83672 74.9345 4.86429 75.2168 4.89437Z" fill="black"/>
    <path d="M93.1707 6.35041V13.8342C93.1641 16.1346 92.8972 18.3599 92.1924 20.5179C92.1282 20.7144 91.9743 20.9188 91.8046 21.0375C91.2369 21.4347 90.6592 21.8176 90.0815 22.2005L90.0813 22.2007L90.0789 22.2023C89.8312 22.3665 89.5834 22.5307 89.3365 22.696C89.1801 22.8008 89.026 22.9091 88.8719 23.0174C88.8013 23.0671 88.7306 23.1168 88.6597 23.1661L88.7139 23.2962C88.7789 23.2758 88.8467 23.2595 88.9145 23.2432C89.0613 23.2078 89.2082 23.1725 89.3279 23.0951C90.2344 22.5085 91.1346 21.9109 92.0166 21.2884C92.2156 21.1479 92.4008 20.9151 92.4781 20.6862C93.0917 18.8679 93.4162 16.9865 93.454 15.0751C93.4973 12.8787 93.4871 10.6812 93.477 8.48393V8.48226C93.4744 7.93047 93.4718 7.37869 93.4701 6.82695C93.4698 6.70892 93.4101 6.59107 93.3504 6.47322C93.3226 6.41839 93.2949 6.36357 93.2731 6.30872L93.1707 6.35041Z" fill="black"/>
    <path d="M88.8675 7.11421V17.2941C87.6156 17.5412 86.7026 17.4893 86.5056 17.1409C86.6127 17.1333 86.7185 17.1256 86.8234 17.118L86.8239 17.118C87.0611 17.1008 87.2937 17.084 87.5264 17.0691C87.7516 17.0546 87.9769 17.0421 88.2123 17.029C88.3185 17.0231 88.4268 17.0171 88.538 17.0108V6.11864C88.8848 6.30646 88.876 6.58049 88.8669 6.86574C88.8643 6.94823 88.8616 7.03166 88.8675 7.11421Z" fill="black"/>
    <path d="M77.2107 18.1991V11.8472C77.2107 11.3629 77.2106 10.8808 77.2105 10.4002C77.2101 8.80884 77.2098 7.2348 77.2133 5.66078C77.2139 5.41756 77.1938 5.20833 76.8842 5.13388V17.9189L74.5508 18.2079C74.6399 18.358 74.7653 18.4844 74.8774 18.4736C75.4589 18.4175 76.0389 18.345 76.6305 18.2711C76.8225 18.2471 77.0157 18.2229 77.2107 18.1991Z" fill="black"/>
    <path d="M62.0278 20.4304L62.0277 20.4304C61.8289 20.4711 61.6417 20.5093 61.4529 20.5217C61.3462 20.5287 61.2369 20.4972 61.1276 20.4657C61.0784 20.4515 61.0293 20.4373 60.9803 20.4267L60.9981 20.2876L63.8029 19.7667V10.5711L63.9067 10.5384C63.9291 10.5968 63.9575 10.655 63.9859 10.7133C64.047 10.8386 64.1081 10.9639 64.1086 11.0894C64.1194 13.6116 64.118 16.1338 64.1166 18.656L64.1163 19.1393C64.1162 19.3949 64.116 19.6505 64.1159 19.9061C64.1159 19.9292 64.1104 19.9524 64.1028 19.9838C64.0986 20.0015 64.0937 20.0218 64.0889 20.0461C63.499 20.1547 62.9018 20.2646 62.2727 20.382C62.1886 20.3975 62.1073 20.4142 62.0278 20.4304Z" fill="black"/>
    <path d="M81.6909 11.105V17.4587L79.0094 17.7511C79.0788 17.7966 79.1376 17.8433 79.1892 17.8841C79.2823 17.9579 79.3514 18.0127 79.4155 18.0073C80.0762 17.9522 80.7356 17.8816 81.4021 17.8103L81.4022 17.8103C81.6018 17.7889 81.802 17.7675 82.0031 17.7464C82.0031 17.3108 82.0033 16.8767 82.0035 16.4438C82.0044 14.8196 82.0053 13.2125 81.9936 11.6055C81.9928 11.4852 81.93 11.3653 81.8673 11.2454L81.8671 11.2451C81.838 11.1895 81.809 11.1339 81.786 11.0783L81.6909 11.105Z" fill="black"/>
    <path d="M96.5667 16.9861C96.3694 16.9959 96.1748 17.0051 95.9822 17.0143C95.4845 17.0379 95 17.061 94.5159 17.0908C94.27 17.1059 94.2044 16.9831 94.2201 16.66C94.4624 16.66 94.705 16.6588 94.9478 16.6577H94.948C95.577 16.6548 96.2076 16.6519 96.8378 16.6685C97.1131 16.6757 97.2138 16.5671 97.2899 16.3342C97.4316 15.9003 97.5847 15.469 97.7613 15.0484C97.7923 14.9748 97.8728 14.9219 97.9532 14.869L97.9534 14.8689C97.9903 14.8447 98.0272 14.8204 98.0594 14.7941L98.1539 14.8823C98.1019 15.0262 98.0502 15.1702 97.9985 15.3142C97.8164 15.8216 97.6343 16.329 97.442 16.8326C97.4169 16.8983 97.2943 16.9553 97.2111 16.9647C97.0719 16.9805 96.931 16.9817 96.7783 16.983C96.7104 16.9836 96.6402 16.9842 96.5667 16.9861Z" fill="black"/>
  </g>
  <defs>
    <clipPath id="clip0_2746_749">
      <rect width="106.5" height="24" fill="white"/>
    </clipPath>
  </defs>
</svg>
                        </span>
                    </a>
                {{/if}}
            </div>
        </li>
    </ul>
    <ul>
        <li>{{#if settings.dc_toggle}}
            <a href="{{dc 'header_url_link_4'}}" class="header_url_link hide-on-mobile">{{dc 'header_url_title_4'}}</a>
        {{else}}
            <a href="{{settings.header_url_link_4}}"
               class="header_url_link hide-on-mobile">{{settings.header_url_title_4}}</a>
        {{/if}}
        </li>
        <li>
            {{#if settings.dc_toggle}}
                <a href="{{dc 'header_url_link_2'}}" class="header_url_link hide-on-mobile">{{dc
                        'header_url_title_2'}}</a>
            {{else}}
                <a href="{{settings.header_url_link_2}}"
                   class="header_url_link hide-on-mobile">{{settings.header_url_title_2}}</a>
            {{/if}}
        </li>
        <li>
            {{#if settings.dc_toggle}}
                <a href="{{dc 'header_url_link_3'}}" class="header_url_link hide-on-mobile">{{dc 'header_url_title_3'}}</a>
            {{else}}
                <a href="{{settings.header_url_link_3}}" class="header_url_link hide-on-mobile">{{settings.header_url_title_3}}</a>
            {{/if}}
        </li>
        <li>
            {{#if settings.dc_toggle}}
                <a href="{{dc 'header_url_link_1'}}" class="header_url_link hide-on-mobile">{{dc 'header_url_title_1'}}</a>
            {{else}}
                <a href="{{settings.header_url_link_1}}" class="header_url_link hide-on-mobile">{{settings.header_url_title_1}}</a>
            {{/if}}
        </li>
    </ul>
</nav>
<div class="wrapper">
  <div class="wrapper-header">
    <div class="searchform header">
      <img src="{{asset 'Search.svg'}}" class="searchform-icon">{{search instant=true submit=false placeholder=settings.search_placeholder_text}}&nbsp;<a id="closeSearch"><i class="fas fa-times"></i></a>
    </div>
    <header id="site-header" class="header header-has-background" data-header>
        <div class="container-wrapper content-container">
        <div class="header-wrapper">
          <div class="header-col clearfix">
            <div class="logo-wrapper">
              <div class="logo">
                {{#link 'help_center'}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="127" height="32" viewBox="0 0 127 32" fill="none">
                        <path d="M16.4559 0C23.1368 0 29.1591 2.44441 28.9795 9.97658L20.0597 9.94153C20.1165 9.46324 20.0448 8.9787 19.8517 8.53572C19.6586 8.09273 19.3506 7.70654 18.9582 7.41517C18.1171 6.90477 17.1322 6.66737 16.1446 6.73686C14.5282 6.73686 12.421 7.20469 12.421 9.21638C12.421 10.8846 14.808 11.4166 17.2934 11.9706C18.2931 12.1935 19.3088 12.4199 20.1914 12.7252C25.6391 14.6082 27.4949 17.5204 27.4949 21.1696C27.4949 28.4912 20.1555 32 13.3429 32C6.13524 32 -0.37801 28.7837 0.017096 20.9942H9.35595C9.29138 21.6284 9.36465 22.2688 9.57098 22.8734C9.77731 23.4781 10.112 24.0334 10.5532 24.503C11.6227 25.1588 12.8937 25.4278 14.1451 25.2631C15.965 25.2631 18.3596 24.3274 18.3596 22.3158C18.3596 20.5695 16.3988 20.0096 13.4667 19.1724C12.6479 18.9386 11.7534 18.6832 10.8047 18.3742C6.97334 17.1345 3.2857 15.1579 3.2857 10.0585C3.2857 3.16956 10.1342 0 16.4559 0Z" fill="white"/>
                        <path d="M26.5682 31.2H35.092L37.5894 19.4934C38.1053 17.1684 39.008 15.2735 41.7165 15.2735C42.0203 15.2333 42.3294 15.2586 42.6225 15.3475C42.9157 15.4365 43.1861 15.5871 43.4153 15.7889C43.6445 15.9908 43.8271 16.2393 43.9507 16.5174C44.0744 16.7956 44.1361 17.0969 44.1317 17.4008C43.9917 18.6366 43.7605 19.8606 43.44 21.0628L41.2475 31.2H49.8182L52.5266 18.7261C52.8536 17.3398 53.0576 15.9277 53.1363 14.5062C53.1363 10.1699 49.7713 8.55403 45.8553 8.55403C44.5646 8.56975 43.2951 8.8812 42.1459 9.46402C40.9967 10.0468 39.999 10.8853 39.2308 11.9137H39.137L41.482 0.8H32.8995L26.5682 31.2Z" fill="white"/>
                        <path d="M105.308 31.2H96.6115L103.107 0.8H111.803L108.693 15.5757H108.777L115.188 9.10042H125.595L115.368 18.0054L121.157 31.2H111.719L108.645 23.2018L106.671 24.8991L105.308 31.2Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M125.764 28.3242C125.514 28.1352 125.214 28.0231 124.9 28.0017C124.682 27.9919 124.464 28.0253 124.259 28.1001C124.054 28.175 123.865 28.2897 123.705 28.4376C123.545 28.5855 123.416 28.7636 123.326 28.9615C123.236 29.1595 123.186 29.3733 123.18 29.5905C123.178 29.9029 123.268 30.2088 123.439 30.4708C123.61 30.7327 123.855 30.9393 124.142 31.0649C124.43 31.1905 124.748 31.2296 125.058 31.1776C125.368 31.1257 125.655 30.9847 125.885 30.7722C126.116 30.5597 126.278 30.2848 126.353 29.9816C126.428 29.6783 126.413 29.3598 126.308 29.0653C126.203 28.7708 126.014 28.5132 125.764 28.3242ZM124.925 29.505H124.593V29.0039H124.925C124.946 29.0039 124.968 29.0035 124.989 29.003C125.164 28.9995 125.331 28.9962 125.331 29.2361C125.331 29.505 125.146 29.505 124.925 29.505ZM124.962 28.7594H124.237V30.4827H124.593V29.7372H124.851L125.343 30.4827H125.694C125.653 30.5235 125.609 30.5616 125.562 30.5965C125.37 30.7392 125.14 30.8229 124.9 30.8372C124.733 30.8472 124.565 30.8229 124.407 30.766C124.25 30.7091 124.105 30.6207 123.983 30.5062C123.861 30.3917 123.764 30.2535 123.698 30.1002C123.631 29.947 123.597 29.7819 123.598 29.615C123.598 29.3765 123.669 29.1433 123.801 28.9442C123.933 28.7451 124.121 28.5887 124.341 28.4945C124.561 28.4002 124.804 28.3721 125.041 28.4136C125.277 28.4551 125.496 28.5644 125.67 28.7281C125.845 28.8918 125.967 29.1027 126.023 29.3347C126.078 29.5668 126.064 29.8099 125.982 30.0341C125.923 30.1957 125.831 30.3424 125.712 30.4652L125.208 29.7372C125.478 29.7005 125.687 29.6149 125.687 29.2605C125.687 28.9061 125.441 28.7594 124.962 28.7594Z" fill="white"/>
                        <path d="M78.0943 31.2H86.9264L88.9459 21.7023C89.9678 16.9534 91.8413 15.3981 95.6004 15.3981C96.7571 15.3944 97.9057 15.5873 98.9946 15.9681L100.637 8.35795C99.6217 8.07398 98.565 7.95764 97.5104 8.01369C96.1417 8.14598 94.8224 8.58294 93.654 9.29098C92.4856 9.99901 91.4992 10.9592 90.7707 12.0977H90.6856L91.4398 8.53607H82.924L78.0943 31.2Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M67.8204 13.7304C66.0598 13.7304 64.8261 14.3249 64.347 15.9917L56.1665 16.0499C57.532 10.1638 62.227 8.8 67.8204 8.8C71.9526 8.8 78.8994 9.25457 78.8994 14.6279C78.8994 16.7307 77.874 21.2248 77.0691 24.7531C76.5489 27.0329 76.1206 28.91 76.1206 29.4773C76.1008 30.1509 76.2231 30.8213 76.48 31.4471H67.9522C67.713 30.7611 67.6074 30.0378 67.6408 29.3142H67.5569C66.6313 30.2026 65.5296 30.8984 64.3189 31.3593C63.1081 31.8202 61.8137 32.0365 60.5143 31.995C56.6097 31.995 53.1363 30.3399 53.1363 26.1088C53.1363 20.2577 57.6158 18.6841 64.1674 18.2179C64.5357 18.1916 64.9369 18.177 65.3529 18.1617C67.7096 18.0755 70.5392 17.9719 70.5392 15.6536C70.5392 14.115 69.1379 13.7304 67.8204 13.7304ZM64.6464 22.6121C63.1972 22.752 61.8318 23.463 61.8318 25.0831C61.8318 26.6217 63.1972 27.0063 64.6105 27.0063C67.5569 27.0063 68.7427 24.9199 69.2697 21.633C67.8041 22.235 66.2365 22.567 64.6464 22.6121Z" fill="white"/>
                    </svg>
                {{/link}}
              </div>
            </div>
            {{!-- {{#if settings.help_center_title_toggle}}
              <p class="hc-name">
                {{#if settings.dc_toggle}}
                  <a class="" href="/">
                    {{dc 'help_center_title'}}
                  </a>
                {{else}}
                  <a class="" href="/">
                    {{settings.help_center_title}}
                  </a>
                {{/if}}
              </p>
            {{/if}} --}}
            <div class="searchbar-collapse">
            </div>
          </div>
            <div class="searchbar-top transparent">
                {{search instant=true submit=false placeholder=settings.search_placeholder_text}}
                <div class="searchbar-info" data-fancybox data-src="#findModel">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                        <path d="M7.7002 7C7.42405 7 7.2002 7.22386 7.2002 7.5C7.2002 7.77614 7.42405 8 7.7002 8V7ZM8.7002 11.5C8.97634 11.5 9.2002 11.2761 9.2002 11C9.2002 10.7239 8.97634 10.5 8.7002 10.5V11.5ZM7.7002 8L8.4073 7.29289C8.21977 7.10536 7.96541 7 7.7002 7V8ZM7.7002 8H8.7002C8.7002 7.73478 8.59484 7.48043 8.4073 7.29289L7.7002 8ZM7.7002 8V10.5H8.7002V8H7.7002ZM7.7002 10.5C7.7002 10.7652 7.80555 11.0196 7.99309 11.2071L8.70019 10.5H8.7002H7.7002ZM7.99309 11.2071C8.18063 11.3946 8.43498 11.5 8.7002 11.5V10.5H8.70019L7.99309 11.2071ZM7.9502 5.25V6.25C8.50248 6.25 8.9502 5.80228 8.9502 5.25H7.9502ZM7.9502 5.25H6.9502C6.9502 5.80228 7.39791 6.25 7.9502 6.25V5.25ZM7.9502 5.25V4.25C7.39791 4.25 6.9502 4.69772 6.9502 5.25H7.9502ZM7.9502 5.25H8.9502C8.9502 4.69772 8.50248 4.25 7.9502 4.25V5.25ZM13.7002 8C13.7002 11.0376 11.2378 13.5 8.2002 13.5V14.5C11.79 14.5 14.7002 11.5899 14.7002 8H13.7002ZM8.2002 13.5C5.16263 13.5 2.7002 11.0376 2.7002 8H1.7002C1.7002 11.5899 4.61034 14.5 8.2002 14.5V13.5ZM2.7002 8C2.7002 4.96243 5.16263 2.5 8.2002 2.5V1.5C4.61034 1.5 1.7002 4.41015 1.7002 8H2.7002ZM8.2002 2.5C11.2378 2.5 13.7002 4.96243 13.7002 8H14.7002C14.7002 4.41015 11.79 1.5 8.2002 1.5V2.5Z" fill="black"/>
                    </svg>
                </div>
            </div>
          <div class="header-col header-menu">
            <div class="header-collapse" data-menu>
                <div class="header-panel">
                    {{!-- {{#if settings.searchbar_transparent_toggle}} --}}
                    {{#if settings.show_new_request_link_toggle}}
                    {{!-- {{#if settings.new_request_toggle}}{{link 'new_request' class="hide-on-mobile"}}{{/if}} --}}
                    {{/if}}
                    {{#if settings.dc_toggle}}
                        <a href="#">Products</a>
                    {{/if}}
                    {{#if settings.dc_toggle}}
                        <a href="{{dc 'header_url_link_5'}}" class="header_url_link hide-on-mobile">{{dc 'header_url_title_5'}}</a>
                    {{else}}
                        <a href="{{settings.header_url_link_5}}" class="header_url_link hide-on-mobile">{{settings.header_url_title_5}}</a>
                    {{/if}}
                    <!--Custom link 6-->
                    {{#if settings.sign_in_toggle}}
                        {{#if signed_in}}
                            <div class="user-info dropdown hide-on-mobile">
                                <button class="dropdown-toggle" aria-haspopup="true">
                                    {{user_avatar class="user-avatar"}}
                                    <span class="hide-on-mobile">
                                        {{user_name}}
                                    </span>
                                </button>
                                <div class="dropdown-menu dropdown-header" role="menu">
                                    {{link "my_activities" role="menuitem"}}
                                    {{my_profile role="menuitem"}}
                                    {{change_password role="menuitem"}}
                                    {{link "sign_out" role="menuitem"}}
                                </div>
                            </div>
                        {{else}}
                            {{#link "sign_in" class="sign-in hide-on-mobile"}}
                                {{t 'sign_in'}}
                            {{/link}}
                        {{/if}}
                    {{/if}}
                    <div class="mobile_button_control">
                        <div class="nav-icon"><span></span><span></span><span></span><span></span></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="sidebar_mobile">
      <div class="container">
         <div class="sidebar_search">
          {{search instant=true submit=false placeholder=settings.search_placeholder_text}}
             <p class="search-subtitle">
                 Where to find my model number?
             </p>
        </div>
      </div>
      <div class="sidebar_mobile_menu">
        <div class="sidebar_mobile_list">
          <!--Custom link 1-->
          <div class="sidebar_mobile_item">
            {{#if settings.dc_toggle}}
              <a href="{{dc 'header_url_link_1'}}" class="header_url_title">{{dc 'header_url_title_1'}}</a>
            {{else}}
              <a href="{{settings.header_url_link_1}}" class="header_url_title">{{settings.header_url_title_1}}</a>
            {{/if}}
          </div>
          <!--Custom link 2-->
          <div class="sidebar_mobile_item">
            {{#if settings.dc_toggle}}
              <a href="{{dc 'header_url_link_2'}}" class="header_url_title">{{dc 'header_url_title_2'}}</a>
            {{else}}
              <a href="{{settings.header_url_link_2}}" class="header_url_title">{{settings.header_url_title_2}}</a>
            {{/if}}
          </div>
          <!--Custom link 3-->
          <div class="sidebar_mobile_item">
            {{#if settings.dc_toggle}}
              <a href="{{dc 'header_url_link_3'}}" class="header_url_title">{{dc 'header_url_title_3'}}</a>
            {{else}}
              <a href="{{settings.header_url_link_3}}" class="header_url_title">{{settings.header_url_title_3}}</a>
            {{/if}}
          </div>
          <!--Custom link 4-->
          <div class="sidebar_mobile_item">
            {{#if settings.dc_toggle}}
              <a href="{{dc 'header_url_link_4'}}" class="header_url_title">{{dc 'header_url_title_4'}}</a>
            {{else}}
              <a href="{{settings.header_url_link_4}}" class="header_url_title">{{settings.header_url_title_4}}</a>
            {{/if}}
          </div>
          <!--Custom link 5-->
          <div class="sidebar_mobile_item">
            {{#if settings.dc_toggle}}
              <a href="{{dc 'header_url_link_5'}}" class="header_url_title">{{dc 'header_url_title_5'}}</a>
            {{else}}
              <a href="{{settings.header_url_link_5}}" class="header_url_title">{{settings.header_url_title_5}}</a>
            {{/if}}
          </div>
		  <!--Custom link 6-->
          <div class="sidebar_mobile_item">
            {{#if settings.dc_toggle}}
              <a href="{{dc 'header_url_link_6'}}" class="header_url_title">{{dc 'header_url_title_6'}}</a>
            {{else}}
              <a href="{{settings.header_url_link_6}}" class="header_url_title">{{settings.header_url_title_6}}</a>
            {{/if}}
          </div>
        </div>
          <div class="sidebar_mobile_footer">
          <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="107" height="24" viewBox="0 0 107 24" fill="none">
  <g clip-path="url(#clip0_2746_749)">
    <path d="M57.3673 0.0764465C57.4054 0.165193 57.4133 0.253939 57.4133 0.342686C57.4135 8.23032 57.4131 16.118 57.407 24.041C57.2201 24.0764 57.0389 24.0764 56.8237 24.0764C56.7856 23.9877 56.7777 23.899 56.7776 23.8102C56.7775 15.9226 56.7779 8.03493 56.784 0.111863C56.971 0.0764465 57.1522 0.0764465 57.3673 0.0764465Z" fill="black"/>
    <path d="M1.54638 13.8651H1.54586C1.05605 13.8586 0.566213 13.8521 0.076416 13.8701C0.076416 14.2896 0.076416 14.6735 0.103954 15.0675C0.451074 16.6501 1.414 17.6722 2.88534 18.224C4.54333 18.8457 6.23869 18.8876 7.94639 18.4392C9.1682 18.1184 10.243 17.5495 11.0311 16.5282C12.5928 14.5048 12.0091 11.8243 9.73286 10.6899C9.24816 10.4483 8.72395 10.2821 8.20259 10.1169L8.20225 10.1168C8.09414 10.0825 7.98615 10.0483 7.87866 10.0134C7.60393 9.92433 7.32503 9.84757 7.04621 9.77083C6.68947 9.67264 6.33285 9.57449 5.98524 9.45059C5.64253 9.32843 5.3808 9.07087 5.41527 8.63964C5.44988 8.20681 5.68642 7.89511 6.08492 7.80945C6.54838 7.70983 7.04298 7.64333 7.50945 7.69484C8.26957 7.77877 8.54282 8.11683 8.66233 8.88278C8.66852 8.92248 8.6857 8.96045 8.70362 9.00005C8.71218 9.01897 8.7209 9.03826 8.72868 9.05828H12.5018C12.6206 7.22284 11.6989 5.75824 10.0114 5.13004C8.46845 4.55565 6.88064 4.50863 5.28157 4.87763C4.15462 5.13769 3.15429 5.63336 2.38132 6.52123C0.773525 8.36802 1.30016 11.1391 3.48189 12.2303C3.92504 12.4519 4.39835 12.6167 4.8689 12.7805C4.92553 12.8002 4.98213 12.8199 5.03862 12.8397C5.36558 12.9541 5.69545 13.0604 6.0253 13.1667C6.43154 13.2976 6.8378 13.4285 7.23848 13.5747C7.62583 13.716 7.92832 13.9877 7.93067 14.4431C7.93305 14.9066 7.67418 15.2284 7.28023 15.4454C6.65754 15.7884 5.99354 15.7778 5.31289 15.687C4.70184 15.6054 4.36008 15.2448 4.20728 14.6827C4.16059 14.511 4.13762 14.3328 4.11335 14.1445C4.10193 14.0559 4.09023 13.9651 4.07563 13.8717C3.86316 13.8717 3.65084 13.8721 3.43863 13.8726C2.95168 13.8736 2.46529 13.8746 1.97895 13.8703C1.83503 13.869 1.69111 13.8671 1.54719 13.8651L1.54638 13.8651Z" fill="black"/>
    <path d="M72.3953 18.818V6.19122C72.3953 6.0783 72.397 5.96855 72.3987 5.86117V5.85991C72.4028 5.60444 72.4066 5.36228 72.3862 5.12218C72.3773 5.01748 72.3217 4.91676 72.2661 4.81604C72.2408 4.77032 72.2156 4.72459 72.1947 4.6785L72.0606 4.72344V18.5352L70.1789 18.7448L70.1366 18.839C70.1722 18.8585 70.2084 18.8841 70.2445 18.9097C70.3227 18.965 70.401 19.0203 70.4746 19.0148C70.9465 18.9791 71.4171 18.9266 71.8988 18.8728C72.0628 18.8545 72.2281 18.836 72.3953 18.818Z" fill="black"/>
    <path d="M102.92 16.7446C103.925 16.7568 104.931 16.7441 105.936 16.7134C105.936 16.6539 105.936 16.62 105.909 16.5796C105.083 14.581 104.27 12.5844 103.457 10.59L103.452 10.5788L103.452 10.5778L103.451 10.5761L103.45 10.5733L103.45 10.5723L103.449 10.5713L103.449 10.5707L103.448 10.5689L103.448 10.5676L103.447 10.5655C102.975 9.40618 102.502 8.24766 102.028 7.08992C101.97 6.94693 101.86 6.8248 101.751 6.70267C101.7 6.64585 101.649 6.58904 101.603 6.53013L101.487 6.61018L105.471 16.4331H102.612L102.565 16.5311C102.603 16.5547 102.64 16.5846 102.678 16.6145C102.758 16.679 102.839 16.7436 102.92 16.7446Z" fill="black"/>
    <path d="M18.0304 18.4078C18.0984 18.089 18.1659 17.773 18.2329 17.4589C18.3856 16.7441 18.5362 16.0392 18.6853 15.334C18.7407 15.0717 18.7982 14.8098 18.8557 14.5479C19.0026 13.879 19.1495 13.21 19.2623 12.5354C19.3849 11.8025 18.9946 11.3949 18.2611 11.3888C17.4537 11.382 16.9008 11.7381 16.6548 12.5832C16.4435 13.3092 16.2856 14.0509 16.1277 14.7923L16.1277 14.7925C16.0765 15.0329 16.0253 15.2733 15.9723 15.5131C15.8258 16.1762 15.6857 16.8407 15.5448 17.5087L15.5448 17.5088C15.4827 17.8031 15.4205 18.098 15.3576 18.3938H11.6059L14.375 4.9808H18.1266L17.1721 9.61359C17.3423 9.51169 17.511 9.40197 17.6807 9.29162C18.0619 9.0437 18.4479 8.79262 18.8663 8.61997C19.8371 8.21939 20.8462 8.32131 21.8038 8.72115C22.8937 9.17624 23.4316 10.2245 23.1955 11.5238C22.9619 12.8088 22.6943 14.0876 22.4268 15.3664C22.3275 15.8411 22.2282 16.3158 22.1306 16.7908C22.0555 17.1564 21.9748 17.5207 21.8928 17.8904L21.8927 17.8909C21.8548 18.0618 21.8167 18.2339 21.7788 18.4078L18.0304 18.4078Z" fill="black"/>
    <path d="M45.804 18.3874C45.9258 17.8155 46.0446 17.2578 46.168 16.668C46.2388 15.8951 46.5165 15.2858 47.2363 14.9378C47.3388 15.2103 47.4416 15.4826 47.5445 15.7547L47.5477 15.7634L47.548 15.7642C47.8478 16.5574 48.1472 17.3499 48.4359 18.1464C48.5095 18.3494 48.6001 18.4153 48.8142 18.4131C49.6457 18.4048 50.4773 18.4059 51.309 18.407H51.3093C51.5984 18.4074 51.8875 18.4078 52.1765 18.4078H52.6131L50.1257 12.5769L54.5284 8.6368C54.1445 8.6368 53.7681 8.64025 53.3972 8.64366H53.3963C52.5169 8.65172 51.6681 8.65951 50.8214 8.6204C50.2108 8.5922 49.8276 8.81438 49.4222 9.23775C48.9297 9.75203 48.3964 10.2273 47.8994 10.6702L47.8993 10.6703C47.6994 10.8484 47.5054 11.0213 47.3223 11.1894L48.5915 4.98497H44.8392L42.0539 18.3878H45.8039L45.804 18.3874Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M34.1667 11.3016C33.8972 12.7725 33.6316 14.2076 33.3582 15.6413C33.3208 15.8371 33.2761 16.0317 33.2314 16.2263C33.1593 16.54 33.0872 16.8534 33.0463 17.1711C33.0112 17.4433 33.0196 17.7211 33.0282 18.0087C33.0321 18.1395 33.0361 18.2722 33.0361 18.4074C32.8389 18.4074 32.6396 18.4075 32.4388 18.4076C31.5246 18.4081 30.5771 18.4085 29.6297 18.4001C29.561 18.3995 29.4515 18.3043 29.4328 18.234C29.3915 18.0787 29.3676 17.9187 29.3415 17.7438C29.3309 17.6727 29.32 17.5991 29.3073 17.5224C28.7508 18.0501 28.0953 18.38 27.3527 18.5348C26.4228 18.7286 25.5045 18.709 24.6173 18.3459C23.7749 18.0012 23.2567 17.3796 23.1525 16.4614C22.9462 14.6441 23.7651 13.3859 25.5548 12.9444C26.2156 12.7814 26.8988 12.7086 27.5818 12.6359L27.582 12.6358C27.873 12.6048 28.164 12.5738 28.4532 12.5358C28.6098 12.5153 28.7672 12.4992 28.9246 12.4832L28.9247 12.4831C29.2092 12.4541 29.4935 12.4251 29.7726 12.3695C29.9722 12.3298 30.1808 12.2083 30.3298 12.0658C30.7984 11.6178 30.6201 10.9007 30.0079 10.694C29.1123 10.3916 28.3211 10.73 27.9298 11.593H24.4307C24.7214 10.2378 25.448 9.27585 26.7505 8.7867C27.6718 8.44072 28.6342 8.38618 29.6047 8.39449C30.5742 8.40279 31.5359 8.47063 32.4598 8.79675C33.6976 9.23366 34.2254 10.0004 34.1667 11.3016ZM29.6632 15.3979L30.0403 14.2036C29.8332 14.2371 29.6313 14.2679 29.4333 14.2981L29.433 14.2982C28.9635 14.3699 28.5159 14.4382 28.0731 14.5298C27.7718 14.592 27.4567 14.6957 27.2056 14.8658C26.8857 15.0826 26.8145 15.4492 26.905 15.8227C26.9863 16.1584 27.2405 16.3029 27.5605 16.3788C28.4515 16.59 29.1374 16.2897 29.6632 15.3979Z" fill="black"/>
    <path d="M41.3342 8.58258C40.6007 8.86284 40.0428 9.37628 39.5327 9.95151L39.4866 10.047C39.4746 10.0103 39.4625 9.97357 39.463 9.8881C39.5561 9.44734 39.6368 9.0553 39.7207 8.64785L39.7208 8.64719H36.0844L34.0702 18.3909H37.8235C37.8729 18.1518 37.9207 17.9138 37.9683 17.6767L37.9683 17.6766C38.0746 17.1471 38.1799 16.6222 38.3013 16.1011C38.3483 15.8993 38.3942 15.6971 38.4401 15.4947C38.6216 14.6941 38.8034 13.8925 39.0567 13.1148C39.3774 12.13 40.1476 11.6316 41.1823 11.6269C41.5768 11.6251 41.9715 11.6668 42.3735 11.7093C42.5568 11.7287 42.7416 11.7482 42.9286 11.7638L43.6069 8.52796C42.8021 8.36187 42.064 8.30373 41.3342 8.58258Z" fill="black"/>
    <path d="M63.5515 9.61979L63.5505 9.61834V19.516L60.7436 20.0145V2.75971C60.922 2.79417 61.1001 2.82777 61.2779 2.8613C61.7991 2.95961 62.3169 3.0573 62.8304 3.17434C62.9492 3.20143 63.0541 3.35722 63.1349 3.47717L63.1391 3.48343C64.7361 5.85375 66.3302 8.22604 67.9243 10.5983C68.273 11.1172 68.6217 11.6361 68.9704 12.155C68.9997 12.1987 69.0299 12.2419 69.0737 12.3048C69.0991 12.3413 69.1292 12.3844 69.1664 12.438V4.14077L71.7704 4.49098V18.267C71.6215 18.2822 71.4728 18.2991 71.3241 18.316C70.9201 18.362 70.5166 18.4078 70.1123 18.4196C69.9781 18.4235 69.8051 18.2411 69.7052 18.1041C68.3653 16.2657 67.0302 14.424 65.6884 12.573C65.2297 11.9403 64.7702 11.3064 64.3095 10.6713C64.0634 10.3315 63.8344 10.0131 63.5515 9.61979Z" fill="black"/>
    <path d="M79.1195 17.4601C79.385 17.429 79.6251 17.4009 79.8999 17.3677C80.4229 17.3074 80.9112 17.2522 81.4262 17.194V10.1843C81.4714 10.2405 81.5105 10.2884 81.5454 10.3311L81.5457 10.3315C81.6098 10.4099 81.6596 10.4708 81.7064 10.5339C82.0854 11.044 82.4642 11.5541 82.843 12.0642L82.8487 12.072C83.97 13.5819 85.0912 15.0918 86.2156 16.5993C86.2923 16.7021 86.4182 16.8434 86.5182 16.8411C86.9421 16.831 87.3656 16.7996 87.7879 16.7684C87.9314 16.7577 88.0747 16.7471 88.2179 16.7374V6.0513L85.9228 5.86439V12.2855C85.8704 12.2164 85.8254 12.1572 85.7854 12.1045C85.7116 12.0075 85.6543 11.9322 85.5978 11.8564C85.2874 11.4409 84.9771 11.0254 84.6668 10.6098C83.4619 8.99634 82.257 7.38283 81.0498 5.77108C81.0421 5.76086 81.0343 5.75023 81.0262 5.73935C80.9502 5.63642 80.8576 5.51116 80.7601 5.49756C80.3553 5.44109 79.9475 5.40564 79.5426 5.37044C79.4011 5.35814 79.26 5.34588 79.1195 5.33275V17.4601Z" fill="black"/>
    <path d="M99.7044 9.73374C99.5961 9.99888 99.4878 10.264 99.3718 10.5577C99.1545 11.1238 98.9449 11.6613 98.7333 12.204C98.9626 12.2863 99.0783 12.2421 99.1552 12.0171C99.2425 11.7615 99.3391 11.5091 99.4357 11.2566C99.5511 10.9551 99.6664 10.6537 99.7659 10.347C99.8068 10.2208 99.796 10.0778 99.7852 9.93484C99.7802 9.86944 99.7753 9.80405 99.7753 9.74025L99.7044 9.73374Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M97.5971 14.7119C97.3902 15.2766 97.1927 15.8101 96.9735 16.4019L96.9719 16.4062H94.2658L98.3527 6.53382C98.5656 6.53382 98.7762 6.53321 98.985 6.53261C99.6518 6.53067 100.301 6.5288 100.949 6.54699C101.059 6.55008 101.213 6.71183 101.264 6.83445C101.972 8.55591 102.67 10.2816 103.368 12.0073C103.455 12.2222 103.542 12.4371 103.629 12.6519C103.981 13.522 104.332 14.3927 104.682 15.2634L104.687 15.2751C104.776 15.4949 104.864 15.7147 104.952 15.9344C104.967 15.9716 104.98 16.0097 104.996 16.0537L104.996 16.0545C105.003 16.0767 105.012 16.1005 105.021 16.1265H102.429C102.381 16.0072 102.334 15.8874 102.287 15.7675C102.159 15.4396 102.03 15.1111 101.883 14.7912C101.835 14.6872 101.673 14.5727 101.561 14.5713C100.339 14.5556 99.1161 14.5588 97.8934 14.5666C97.8083 14.5672 97.7235 14.6253 97.6321 14.688L97.6133 14.7009C97.6079 14.7046 97.6025 14.7082 97.5971 14.7119ZM98.9425 10.9275L98.3319 12.5081H101.127L99.7335 8.89849C99.453 9.62175 99.2103 10.2477 98.9425 10.9275Z" fill="black"/>
    <path d="M90.381 6.13118C90.381 9.18583 90.381 12.1911 90.3787 15.2321C90.2187 17.8984 89.6561 20.4312 88.5064 22.8751C88.5418 22.8612 88.5705 22.8512 88.5944 22.8428L88.5946 22.8428C88.6353 22.8286 88.6623 22.8191 88.6853 22.8037C88.8659 22.6826 89.0466 22.5616 89.2272 22.4406L89.228 22.4401L89.2281 22.44C90.0509 21.8891 90.8737 21.3382 91.6884 20.7757C91.8088 20.6925 91.8974 20.5249 91.9436 20.3785C92.4933 18.6338 92.8091 16.84 92.8412 15.0168C92.877 12.9878 92.8725 10.9582 92.8681 8.92856C92.8663 8.09207 92.8644 7.25559 92.8654 6.41916C92.8655 6.3871 92.8606 6.35503 92.8546 6.31511C92.8514 6.29374 92.8478 6.27012 92.8445 6.24305L90.381 6.13118Z" fill="black"/>
    <path d="M75.2168 4.89437C75.6794 4.95143 76.108 5.00598 76.5615 5.0637V17.6582L74.4286 17.9169V4.80812C74.6862 4.83672 74.9345 4.86429 75.2168 4.89437Z" fill="black"/>
    <path d="M93.1707 6.35041V13.8342C93.1641 16.1346 92.8972 18.3599 92.1924 20.5179C92.1282 20.7144 91.9743 20.9188 91.8046 21.0375C91.2369 21.4347 90.6592 21.8176 90.0815 22.2005L90.0813 22.2007L90.0789 22.2023C89.8312 22.3665 89.5834 22.5307 89.3365 22.696C89.1801 22.8008 89.026 22.9091 88.8719 23.0174C88.8013 23.0671 88.7306 23.1168 88.6597 23.1661L88.7139 23.2962C88.7789 23.2758 88.8467 23.2595 88.9145 23.2432C89.0613 23.2078 89.2082 23.1725 89.3279 23.0951C90.2344 22.5085 91.1346 21.9109 92.0166 21.2884C92.2156 21.1479 92.4008 20.9151 92.4781 20.6862C93.0917 18.8679 93.4162 16.9865 93.454 15.0751C93.4973 12.8787 93.4871 10.6812 93.477 8.48393V8.48226C93.4744 7.93047 93.4718 7.37869 93.4701 6.82695C93.4698 6.70892 93.4101 6.59107 93.3504 6.47322C93.3226 6.41839 93.2949 6.36357 93.2731 6.30872L93.1707 6.35041Z" fill="black"/>
    <path d="M88.8675 7.11421V17.2941C87.6156 17.5412 86.7026 17.4893 86.5056 17.1409C86.6127 17.1333 86.7185 17.1256 86.8234 17.118L86.8239 17.118C87.0611 17.1008 87.2937 17.084 87.5264 17.0691C87.7516 17.0546 87.9769 17.0421 88.2123 17.029C88.3185 17.0231 88.4268 17.0171 88.538 17.0108V6.11864C88.8848 6.30646 88.876 6.58049 88.8669 6.86574C88.8643 6.94823 88.8616 7.03166 88.8675 7.11421Z" fill="black"/>
    <path d="M77.2107 18.1991V11.8472C77.2107 11.3629 77.2106 10.8808 77.2105 10.4002C77.2101 8.80884 77.2098 7.2348 77.2133 5.66078C77.2139 5.41756 77.1938 5.20833 76.8842 5.13388V17.9189L74.5508 18.2079C74.6399 18.358 74.7653 18.4844 74.8774 18.4736C75.4589 18.4175 76.0389 18.345 76.6305 18.2711C76.8225 18.2471 77.0157 18.2229 77.2107 18.1991Z" fill="black"/>
    <path d="M62.0278 20.4304L62.0277 20.4304C61.8289 20.4711 61.6417 20.5093 61.4529 20.5217C61.3462 20.5287 61.2369 20.4972 61.1276 20.4657C61.0784 20.4515 61.0293 20.4373 60.9803 20.4267L60.9981 20.2876L63.8029 19.7667V10.5711L63.9067 10.5384C63.9291 10.5968 63.9575 10.655 63.9859 10.7133C64.047 10.8386 64.1081 10.9639 64.1086 11.0894C64.1194 13.6116 64.118 16.1338 64.1166 18.656L64.1163 19.1393C64.1162 19.3949 64.116 19.6505 64.1159 19.9061C64.1159 19.9292 64.1104 19.9524 64.1028 19.9838C64.0986 20.0015 64.0937 20.0218 64.0889 20.0461C63.499 20.1547 62.9018 20.2646 62.2727 20.382C62.1886 20.3975 62.1073 20.4142 62.0278 20.4304Z" fill="black"/>
    <path d="M81.6909 11.105V17.4587L79.0094 17.7511C79.0788 17.7966 79.1376 17.8433 79.1892 17.8841C79.2823 17.9579 79.3514 18.0127 79.4155 18.0073C80.0762 17.9522 80.7356 17.8816 81.4021 17.8103L81.4022 17.8103C81.6018 17.7889 81.802 17.7675 82.0031 17.7464C82.0031 17.3108 82.0033 16.8767 82.0035 16.4438C82.0044 14.8196 82.0053 13.2125 81.9936 11.6055C81.9928 11.4852 81.93 11.3653 81.8673 11.2454L81.8671 11.2451C81.838 11.1895 81.809 11.1339 81.786 11.0783L81.6909 11.105Z" fill="black"/>
    <path d="M96.5667 16.9861C96.3694 16.9959 96.1748 17.0051 95.9822 17.0143C95.4845 17.0379 95 17.061 94.5159 17.0908C94.27 17.1059 94.2044 16.9831 94.2201 16.66C94.4624 16.66 94.705 16.6588 94.9478 16.6577H94.948C95.577 16.6548 96.2076 16.6519 96.8378 16.6685C97.1131 16.6757 97.2138 16.5671 97.2899 16.3342C97.4316 15.9003 97.5847 15.469 97.7613 15.0484C97.7923 14.9748 97.8728 14.9219 97.9532 14.869L97.9534 14.8689C97.9903 14.8447 98.0272 14.8204 98.0594 14.7941L98.1539 14.8823C98.1019 15.0262 98.0502 15.1702 97.9985 15.3142C97.8164 15.8216 97.6343 16.329 97.442 16.8326C97.4169 16.8983 97.2943 16.9553 97.2111 16.9647C97.0719 16.9805 96.931 16.9817 96.7783 16.983C96.7104 16.9836 96.6402 16.9842 96.5667 16.9861Z" fill="black"/>
  </g>
  <defs>
    <clipPath id="clip0_2746_749">
      <rect width="106.5" height="24" fill="white"/>
    </clipPath>
  </defs>
</svg>
                        </span>

              {{#if settings.dc_toggle}}
                  <a href="{{dc 'header_url_link_1'}}" class="account-button">{{dc 'header_url_title_1'}}
                      <img class="account-button-icon" src="{{asset 'user.svg'}}" alt="account-icon" />
                  </a>
              {{else}}
                  <a href="{{settings.header_url_link_1}}" class="account-button">{{settings.header_url_title_1}}
                      <img class="account-button-icon" src="{{asset 'user.svg'}}" alt="account-icon" />
                  </a>
              {{/if}}
          </div>
      </div>
    </div>
    {{#if settings.dc_toggle}}
      <span id="dc_search_placeholder_text" data-value="{{dc 'search_placeholder_text'}}" style="display:none">
      </span>
    {{/if}}
  </div>
  <script>
    $(document).ready(function() {
      let owlOptions = {
        items: 1,
        dots: false,
        nav: true,
        loop: true,
        center: true,
        autoplay: {{settings.info_notification_timeout}}
      }
      $("#info-notification-carousel").owlCarousel(owlOptions);
      $('#_samewidth_images').owlCarousel({
        margin: 10,
        autoWidth: false,
        nav: true,
        items: 4,
        navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
      })
    });
  </script>

  <!-- Dialog Contents -->

  <div id="findModel" style="max-width: 600px; display: none;">
    <h2 class="font-bold">Find My Model Number</h2>
    <div style="width: 100%;">
      <div>
        {{!-- <h4 class="font-bold">1. Check your box</h4> --}}
        <p>1. Check the bottom of your box, you should see the model number near the bar code.</p>
      </div>
      <div>
        {{!-- <h4 class="font-bold">2. Check your unit</h4> --}}
        <p>2. Check the main body of the vacuum (back of the unit) it should have a rating label that features your model number.
        </p>
      </div>
      <div>
        {{!-- <h4 class="font-bold">3. Check your manual</h4> --}}
        <p>3. Check your manual. Your product's model number is listed on the front cover of your instruction booklet.</p>
      </div>
    </div>
    {{!-- <div  style="width: 100%; text-align:center;"><img src="https://www.sharkclean.com/include/images/support/model.jpg"
        alt="Where to find the model number" style="width: 100%;"></div> --}}
  </div>
  
  <!-- ================= -->
  <div class="wrapper-main">