{{#is section.id 4403095796498}}<script>window.location.replace('https://support.sharkclean.com/hc/en-us/articles/4403101981714-Contact-Us')</script>{{/is}}
{{#is section.id 7064107087004}}<script>window.location.replace('https://www.sharkclean.com/parts-and-accessories/find-model-number/?_ga=2.30383679.1694868215.1671712272-1983878799.1671712272')</script>{{/is}}
{{#is section.id 8648774847644}}<script>window.location.replace('https://support.sharkclean.com/hc/en-us/articles/8648795225116-Parts-Accessories')</script>{{/is}}


<script>$('#site-header').show();</script>
<div class="banner">
  <div class="banner-container">
    <h1 class="banner-title">{{section.name}}</h1>
    {{!-- <p class="banner-desc">{{section.description}}</p> --}}
    <div class="container-wrapper search-container search-container-hero-item max-w-5xl w-full" data-hero-box>
      <div class="relative">
        {{search instant=true placeholder=settings.search_placeholder_text}}
        <div class="searchbar-info" data-fancybox data-src="#findModel">
          <i class="fa fa-info-circle"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container category-container py-6">
  <div class="container-wrapper">
    <div class="site-header section-site-header">
      {{breadcrumbs}}
      {{!-- {{#if settings.follow_article_toggle}}
      <div class="article-subscribe">{{subscribe role='button'}}</div>
      {{/if}} --}}
    </div>
    <div class="site-body">
      <div class="flex flex-col md:flex-row robot-help">
        <div class="dropdown md:hidden text-end">
          <button class="dropdown-toggle" aria-haspopup="true">
            <div class="nav-icon"><span></span><span></span><span></span><span></span></div>
          </button>
          <span class="dropdown-menu" role="menu">
            <ul class="list-unstyled">
              <li><a href="https://support.sharkclean.com/hc/en-us/articles/6697662779420" target="_blank">Download the newest version of the SharkClean App</a></li>
              <li><a href="#section-tree">All Robot vacuum support</a></li>
              <li><a href="https://www.sharkclean.com/find-parts" target="_blank">Parts and Accessories</a></li>
              <li><a href="https://support.sharkclean.com/hc/en-us/sections/6174520564636-Robot-Helpful-Videos-App-Guide" target="_blank">Helpful Videos</a></li>
            </ul>
          </span>
        </div>
        <div class="md:basis-3/4">
          <h3 class="font-bold">Robot Common Troubleshooting Topics<br><span style="font-size:20px;font-weight:500">Please follow the below steps which fix most common issues.</span></h3>
          <ul class="list-unstyled">
            <li>
              <div class="md:flex flex-col md:flex-row md:justify-between">
                <div>
                  <h4 class="font-bold">Connectivity Issues</h4>
                  <ul class="list-unstyled">
                    <li>Step 1: Reboot your phone.</li>
                    <li>Step 2: Restart your router.</li>
                    <li>Step 3: Reboot your Robot.</li>
                    <li>Please watch our watch our connectivity troubleshooting video for more information.</li>
                  </ul>
                </div>
                <a class="site-video-item" data-toggle="modal" data-target="#video-modal" data-src="https://www.youtube.com/embed/xclYYRGIG_o">
                  <div class="site-video-img site-video-icon" style="background-image: url(&quot;https://i.ytimg.com/vi/xclYYRGIG_o/hqdefault.jpg&quot;);">

                  </div>
                </a>
              </div>
            </li>
            <li>
              <div class="md:flex flex-col md:flex-row md:justify-between">
                <div>
                  <h4 class="font-bold">Charging Issues</h4>
                  <ul class="list-unstyled">
                    <li>Step 1: Check the power source and charging dock.</li>
                    <li>Step 2: Clean charging contacts and reset Robot.</li>
                    <li>Refer to our maintenance tips to keep your Robot in top condition.</li>
                  </ul>
                </div>
                <a class="site-video-item" data-toggle="modal" data-target="#video-modal" data-src="https://www.youtube.com/embed/bfoarHAGLw8">
                  <div class="site-video-img site-video-icon" style="background-image: url(&quot;https://i.ytimg.com/vi/bfoarHAGLw8/hqdefault.jpg&quot;);">

                  </div>
                </a>
              </div>
            </li>
            <li>
              <div class="md:flex flex-col md:flex-row md:justify-between">
                <div>
                  <h4 class="font-bold">Maintenance Tips</h4>
                  <ul class="list-unstyled">
                    <li>Tip 1: Clean the brushes.</li>
                    <li>Tip 2: Empty the dust bin.</li>
                    <li>Tip 3: Clean the filters.</li>
                    <li>Tip 4: Clean the sensors.</li>
                    <li>Tip 5: Check the wheels.</li>
                    <li>Tip 6: Clean the charging contacts.</li>
                    <li>Tip 7: Maintain the battery.</li>
                  </ul>
                </div>
                <a class="site-video-item" data-toggle="modal" data-target="#video-modal" data-src="https://www.youtube.com/embed/M7ojtyfWCek">
                  <div class="site-video-img site-video-icon" style="background-image: url(&quot;https://i.ytimg.com/vi/M7ojtyfWCek/hqdefault.jpg&quot;);">

                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="md:basis-1/4 justify-end">
          <h4 class="font-bold">Help</h4>
          <ul class="!pl-7">
            
            <li><a href="https://support.sharkclean.com/hc/en-us/articles/6697662779420" target="_blank">Download the newest version of the SharkClean App</a></li>
              <li><a href="#section-tree">All Robot vacuum support</a></li>
              <li><a href="https://www.sharkclean.com/find-parts" target="_blank">Parts and Accessories</a></li>
              <li><a href="https://support.sharkclean.com/hc/en-us/sections/6174520564636-Robot-Helpful-Videos-App-Guide" target="_blank">Helpful Videos</a></li>
          </ul>
        </div>
      </div>

      <ul class="article-lists">
        {{#isnt section.id 4405399628562}}{{#isnt section.id 4405404365458}}
        {{#each section.articles}}
          <li>      
            <a href="{{url}}">
              {{#if promoted}}<span class="fa fa-star" title="{{t 'promoted'}}"></span>{{/if}}
              {{title}}
              {{#if internal}}<span class="fas fa-lock" title="{{t 'internal'}}"></span>{{/if}}
            </a>
          </li>
        {{/each}}
        {{/isnt}}{{/isnt}}
        <!-- Special text for Robots -->
        <div id="section-tree" class="app-banner-wrapper-no-border">
          <h2 style="text-align: center; font-weight:bold;">Please see below for all Robot Product Information</h2>
        </div>
      </ul>
      
      {{#if section.sections}}
        <div class="section-tree product-list grid-cols-2 md:grid-cols-2 lg:grid-cols-5 gap-4">
          {{#each section.sections}}
          {{#isnt name 'Robot - Helpful Videos & App Guide'}}
          
            <section class="section">
              <div class="section-tree-title">
                <a href="{{url}}">
                  
                  {{!-- Conditional image for sections based on its name --}}
                  {{#is name 'Hard Floor Cleaning'}}<img class="product-thumbnail" alt="Hard Floor Cleaning" src="{{asset 'hard-floor-cleaning-and-irons.png'}}">{{/is}}
                  {{#is name 'Irons & Garment Care '}}<img class="product-thumbnail" alt="Irons & Garment Care" src="{{asset 'IronsGarmentCare-GI305.png'}}">{{/is}}
                  {{#is name 'Upright Vacuums'}}<img class="product-thumbnail" alt="Upright Vacuums" src="{{asset 'Uprights-AZ3000.png'}}">{{/is}}
                  {{#is name 'Canister Vacuums'}}<img class="product-thumbnail" alt="Canister Vacuums" src="{{asset 'Canister-CZ2001.jpg'}}">{{/is}}
                  {{#is name 'Carpet Cleaners'}}<img class="product-thumbnail" alt="EX200 Series" src="{{asset 'WetDry-EX200.jpg'}}">{{/is}}
                  {{#is name 'Corded Vacuums'}}<img class="product-thumbnail" alt="Corded Vacuums" src="{{asset 'CordedStick-HZ602.jpg'}}">{{/is}}
                  {{#is name 'Cordless Vacuums'}}<img class="product-thumbnail" alt="Cordless Vacuums" src="{{asset 'Cordless-IZ800Series.jpg'}}">{{/is}}
                  {{#is name 'Handheld Vacuums'}}<img class="product-thumbnail" alt="Handheld Vacuums" src="{{asset 'Handhelds-WV201.jpg'}}">{{/is}}
                  {{#is name 'Wet/Dry Vacuums'}}<img class="product-thumbnail" alt="Wet/Dry Vacuums" src="{{asset 'WetDry-VS101.jpg'}}">{{/is}}
                  
                  {{!-- Air Purifiers --}}
                  {{#is name 'HC500/450 Series'}}<img class="product-thumbnail" alt="HC500/450 Series" src="{{asset 'AirPurifiers-HC500.jpg'}}">{{/is}}
                  {{#is name 'HP100 / HP200 Series'}}<img class="product-thumbnail" alt="HP100 Series Shark® Small Room Air Purifier" src="{{asset 'AirPurifiers-HP100.jpg'}}">{{/is}}
                  {{#is name 'HE400 Series'}}<img class="product-thumbnail" alt="HE400 Series Shark® Air Purifier 4" src="{{asset 'AirPurifiers-HE401.jpg'}}">{{/is}}
                  {{#is name 'HE600 Series'}}<img class="product-thumbnail" alt="HE600 Series Shark® Air Purifier 6" src="{{asset 'AirPurifiers-HE601.jpg'}}">{{/is}}
                  {{#is name 'HP100 Series'}}<img class="product-thumbnail" alt="HP100 Series Shark® Small Room Air Purifier" src="{{asset 'AirPurifiers-HP100.jpg'}}">{{/is}}
                  {{#is name 'HP200 Series'}}<img class="product-thumbnail" alt="HP200 Series Shark® Large Room Air Purifier" src="{{asset 'AirPurifiers-HP200.jpg'}}">{{/is}}
                  {{#is name 'HP232 Series'}}<img class="product-thumbnail" alt="HP232 Series" src="{{asset 'AirPurifiers-HP232.jpg'}}">{{/is}}
                  {{#is name 'HP300 Series'}}<img class="product-thumbnail" alt="HP300 Series" src="{{asset 'AirPurifiers-HP300Series.jpg'}}">{{/is}}
                                      
                  <!--Canisters-->
                  {{#is name 'CV100 Series'}}<img class="product-thumbnail" alt="CV100 Series" src="{{asset 'Canister-CV101.jpg'}}">{{/is}}
                  {{#is name 'CZ2000 / CZ500 Series'}}<img class="product-thumbnail" alt="CZ2000 / CZ500 Series" src="{{asset 'Canister-CZ2001.jpg'}}">{{/is}}
                  {{#is name 'CZ200 / CZ300 Series'}}<img class="product-thumbnail" alt="CZ2000 / CZ500 Series" src="{{asset 'Canister-CZ351.jpg'}}">{{/is}}
                  {{#is name 'CZ350 Series'}}<img class="product-thumbnail" alt="CZ350 Series" src="{{asset 'Canister-CZ351.jpg'}}">{{/is}}
                  
                  <!--Corded Sticks-->
                  {{#is name 'CS100 Series'}}<img class="product-thumbnail" alt="CS100 Series" src="{{asset 'CordedStick-CS100.jpg'}}">{{/is}}
                  {{#is name 'HN175 Series'}}<img class="product-thumbnail" alt="HN175 Series" src="{{asset 'CordedStick-HN175.jpg'}}">{{/is}}
                  {{#is name 'HV300 Series'}}<img class="product-thumbnail" alt="HV300 Series" src="{{asset 'CordedStick-HV302.jpg'}}">{{/is}}
                  {{#is name 'HV300 / QS300 Series'}}<img class="product-thumbnail" alt="HV300 Series" src="{{asset 'CordedStick-HV302.jpg'}}">{{/is}}
                  {{#is name 'HV320 Series'}}<img class="product-thumbnail" alt="HV320 Series" src="{{asset 'CordedStick-HV320.jpg'}}">{{/is}}
                  {{#is name 'ZS340 Series'}}<img class="product-thumbnail" alt="ZS340 Series" src="{{asset 'CordedStick-ZS340.jpg'}}">{{/is}}
                  {{#is name 'HV343AMZ / HV345 Series'}}<img class="product-thumbnail" alt="HV343AMZ / HV345 Series" src="{{asset 'CordedStick-HV343AMZ_HV345.jpg'}}">{{/is}}
                  {{#is name 'HV370 Series'}}<img class="product-thumbnail" alt="HV370 Series" src="{{asset 'CordedStick-HV370.jpg'}}">{{/is}}
                  {{#is name 'HV380 Series'}}<img class="product-thumbnail" alt="HV380 Series" src="{{asset 'CordedStick-HV380.jpg'}}">{{/is}}
                  {{#is name 'HV390 Series'}}<img class="product-thumbnail" alt="HV390 Series" src="{{asset 'CordedStick-HV390.jpg'}}">{{/is}}
                  {{#is name 'HV392 Series'}}<img class="product-thumbnail" alt="HV390 Series" src="{{asset 'CordedStick-HV390.jpg'}}">{{/is}}
                  {{#is name 'HZ2002 Series'}}<img class="product-thumbnail" alt="HZ2000 Series" src="{{asset 'CordedStick-HZ2002.jpg'}}">{{/is}}
                  {{#is name 'HZ2000 / QS2000Q Series'}}<img class="product-thumbnail" alt="HZ2000 Series" src="{{asset 'CordedStick-HZ2002.jpg'}}">{{/is}}
                  {{#is name 'HZ250 Series'}}<img class="product-thumbnail" alt="HZ250 Series" src="{{asset 'CordedStick-HZ250.jpg'}}">{{/is}}
                  {{#is name 'HZ251 Series'}}<img class="product-thumbnail" alt="HZ250 Series" src="{{asset 'CordedStick-HZ250.jpg'}}">{{/is}}
                  {{#is name 'HZ600 Series'}}<img class="product-thumbnail" alt="HZ600 Series" src="{{asset 'CordedStick-HZ602.jpg'}}">{{/is}}
                  {{#is name 'HZ700 Series'}}<img class="product-thumbnail" alt="HZ700 Series" src="{{asset 'Corded-HZ700Series.jpg'}}">{{/is}}
                  {{#is name 'HZ3000 Series'}}<img class="product-thumbnail" alt="HZ3000 Series" src="{{asset 'CordedStick-HZ3000.png'}}">{{/is}}
                  {{#is name 'LZ600 Series'}}<img class="product-thumbnail" alt="LZ600 Series" src="{{asset 'CordedStick-LZ600.jpg'}}">{{/is}}
                  {{#is name 'LZ600 / QU600 Series'}}<img class="product-thumbnail" alt="LZ600 Series" src="{{asset 'CordedStick-LZ600.jpg'}}">{{/is}}
                  {{#is name 'UV330 Series'}}<img class="product-thumbnail" alt="UV330 Series" src="{{asset 'CordedStick-UV330.jpg'}}">{{/is}}
                  {{#is name 'UV580 Series'}}<img class="product-thumbnail" alt="UV580 Series" src="{{asset 'CordedStick-UV580.jpg'}}">{{/is}}
                  {{#is name 'ZS350 Series'}}<img class="product-thumbnail" alt="ZS350 Series" src="{{asset 'CordedStick-ZS350.jpg'}}">{{/is}}
                  {{#is name 'ZS360 Series'}}<img class="product-thumbnail" alt="ZS360 Series" src="{{asset 'CordedStick-ZS360.jpg'}}">{{/is}}
                  {{#is name 'ZS360 / QS360Q Series'}}<img class="product-thumbnail" alt="ZS360 Series" src="{{asset 'CordedStick-ZS360.jpg'}}">{{/is}}
                    
                  <!--Cordless Sticks-->
                  {{#is name 'IC160 Series'}}<img class="product-thumbnail" alt="IR70 Series" src="{{asset 'Cordless-IC160.jpg'}}">{{/is}}
                  {{#is name 'IR70 Series'}}<img class="product-thumbnail" alt="IR70 Series" src="{{asset 'Cordless-IR70.png'}}">{{/is}}
                  {{#is name 'ICZ362H Series'}}<img class="product-thumbnail" alt="ICZ362H Series" src="{{asset 'Cordless-ICZ362H.jpg'}}">{{/is}}
                  {{#is name 'IF200 Series'}}<img class="product-thumbnail" alt="IF200 Series" src="{{asset 'Cordless-IF200.jpg'}}">{{/is}}
                  {{#is name 'IF250 Series'}}<img class="product-thumbnail" alt="IF250 Series" src="{{asset 'Cordless-IF250.jpg'}}">{{/is}}
                  {{#is name 'IF200 / IF250 Series'}}<img class="product-thumbnail" alt="IF250 Series" src="{{asset 'Cordless-IF250.jpg'}}">{{/is}}
                  {{#is name 'IF280 / UF280 Series'}}<img class="product-thumbnail" alt="IF280 Series" src="{{asset 'Cordless-IF282.jpg'}}">{{/is}}
                  {{#is name 'IF281 Series'}}<img class="product-thumbnail" alt="IF280 Series" src="{{asset 'Cordless-IF282.jpg'}}">{{/is}}
                  {{#is name 'IR100 Series'}}<img class="product-thumbnail" alt="IR100 Series" src="{{asset 'Cordless-IR100.jpg'}}">{{/is}}
                  {{#is name 'IR140 Series'}}<img class="product-thumbnail" alt="IR140 Series" src="{{asset 'Cordless-IR140.jpg'}}">{{/is}}
                  {{#is name 'IX140 / IZ140 Series'}}<img class="product-thumbnail" alt="IX140 / IZ140 Series" src="{{asset 'Cordless-IX141H.jpg'}}">{{/is}}
                  {{#is name 'IW1000 / IW3000 Series'}}<img class="product-thumbnail" alt="IW1111" src="{{asset 'Cordless-IW1111.jpg'}}">{{/is}}
                  {{#is name 'IZ160 / QZ160 Series'}}<img class="product-thumbnail" alt="IZ160 Series" src="{{asset 'Cordless-IZ160.jpg'}}">{{/is}}
                  {{#is name 'IZ162H Series'}}<img class="product-thumbnail" alt="IZ160 Series" src="{{asset 'Cordless-IZ160.jpg'}}">{{/is}}
                  {{#is name 'IZ340H Series'}}<img class="product-thumbnail" alt="IZ340H Series" src="{{asset 'Cordless-IZ340H.jpg'}}">{{/is}}
                  {{#is name 'IZ300 Series'}}<img class="product-thumbnail" alt="IZ300 Series" src="{{asset 'Cordless-IZ300.png'}}">{{/is}}
                  {{#is name 'IZ360 Series'}}<img class="product-thumbnail" alt="IZ360 Series" src="{{asset 'Cordless-IZ361H.jpg'}}">{{/is}}
                  {{#is name 'IZ362 Series'}}<img class="product-thumbnail" alt="IZ360 Series" src="{{asset 'Cordless-IZ362.jpg'}}">{{/is}}
                  {{#is name 'IZ362 / IZ462 Series'}}<img class="product-thumbnail" alt="IZ360 Series" src="{{asset 'Cordless-IZ362.jpg'}}">{{/is}}
                  {{#is name 'IZ440 Series'}}<img class="product-thumbnail" alt="IZ440 Series" src="{{asset 'Cordless-IZ441HBRN.jpg'}}">{{/is}}
                  {{#is name 'IZ460 Series'}}<img class="product-thumbnail" alt="IZ460 Series" src="{{asset 'Cordless-IZ462H.jpg'}}">{{/is}}
                  {{#is name 'IZ500 Series'}}<img class="product-thumbnail" alt="IZ500 Series" src="{{asset 'Cordless-IZ500.jpg'}}">{{/is}}
                  {{#is name 'IZ531H Series'}}<img class="product-thumbnail" alt="IZ531H Series" src="{{asset 'Cordless-IZ500.jpg'}}">{{/is}}
                  {{#is name 'IZ562H Series'}}<img class="product-thumbnail" alt="IZ562H Series" src="{{asset 'Cordless-IZ562H.jpg'}}">{{/is}}
                  {{#is name 'IZ600 Series'}}<img class="product-thumbnail" alt="IZ600 Series" src="{{asset 'Cordless-IZ662H.jpg'}}">{{/is}}
                  {{#is name 'IZ662H Series'}}<img class="product-thumbnail" alt="IZ600 Series" src="{{asset 'Cordless-IZ662H.jpg'}}">{{/is}}
                  {{#is name 'IZ800 Series'}}<img class="product-thumbnail" alt="IZ800 Series" src="{{asset 'Cordless-IZ800Series.jpg'}}">{{/is}}
                  {{#is name 'UZ145 Series'}}<img class="product-thumbnail" alt="IZ600 Series" src="{{asset 'Cordless-UZ145.jpg'}}">{{/is}}
                  {{#is name 'UZ345H Series'}}<img class="product-thumbnail" alt="IZ600 Series" src="{{asset 'Cordless-UZ345H.png'}}">{{/is}}
                  {{#is name 'SV1100 Series'}}<img class="product-thumbnail" alt="SV1100 Series" src="{{asset 'Cordless-SV1100.jpg'}}">{{/is}}
                  {{#is name 'V2700 / V2900 Series'}}<img class="product-thumbnail" alt="V2700 / V2900 Series" src="{{asset 'Cordless-V2950.jpg'}}">{{/is}}
                  {{#is name 'WS620 Series'}}<img class="product-thumbnail" alt="WS630 Series" src="{{asset 'Cordless-WS620.jpg'}}">{{/is}}
                  {{#is name 'WS630 Series'}}<img class="product-thumbnail" alt="WS630 Series" src="{{asset 'Cordless-WS632.jpg'}}">{{/is}}
                  {{#is name 'WS640 Series'}}<img class="product-thumbnail" alt="WS640 Series" src="{{asset 'Cordless-WS640.jpg'}}">{{/is}}
                  {{#is name 'WS640 / WS642 Series'}}<img class="product-thumbnail" alt="WS640 / WS642 Series" src="{{asset 'Cordless-WS640.jpg'}}">{{/is}}
                  {{#is name 'WS642 Series'}}<img class="product-thumbnail" alt="WS642 Series" src="{{asset 'Cordless-WS642.jpg'}}">{{/is}}
                  {{#is name 'WS640AE / WS642AE Series'}}<img class="product-thumbnail" alt="WS640AE / WS642AE Series" src="{{asset 'Cordless-WS640AE.jpg'}}">{{/is}}
                  
                  <!--Hair care-->
                  {{#is name 'Straight Hair Videos'}}<img class="product-thumbnail" alt="Straight Hair Videos" src="{{asset 'HairCare-StraightHair.jpg'}}">{{/is}}
                  {{#is name 'Curly Hair Videos'}}<img class="product-thumbnail" alt="Curly Hair Videos" src="{{asset 'HairCare-CurlyHair.jpg'}}">{{/is}}
                  {{#is name 'Wavy Hair Videos'}}<img class="product-thumbnail" alt="Wavy Hair Videos" src="{{asset 'HairCare-WavyHair.jpg'}}">{{/is}}
                  {{#is name 'Coily Hair Videos'}}<img class="product-thumbnail" alt="Coily Hair Videos" src="{{asset 'HairCare-CoilyHair.jpg'}}">{{/is}}
                  {{#is name 'HD100 Series'}}<img class="product-thumbnail" alt="HD100 Series" src="{{asset 'HairCare-HD112BRN.jpg'}}">{{/is}}
                  {{#is name 'HD400 Series'}}<img class="product-thumbnail" alt="HD400 Series" src="{{asset 'HairCare-HD400Series.jpg'}}">{{/is}}
                  {{#is name 'HT200 Series'}}<img class="product-thumbnail" alt="HT200 Series" src="{{asset 'HairCare-HT200.jpg'}}">{{/is}}
                  {{#is name 'HD300 Series'}}<img class="product-thumbnail" alt="HD300 Series" src="{{asset 'HairCare-HD300.jpg'}}">{{/is}}
                  {{#is name 'HyperAir'}}<img class="product-thumbnail" alt="HD100 Series" src="{{asset 'HairCare-HD112BRN.jpg'}}">{{/is}}
                    {{#is name 'FlexStyle'}}<img class="product-thumbnail" alt="HD400 Series" src="{{asset 'HairCare-HD400Series.jpg'}}">{{/is}}
                  {{#is name 'FlexStyle and HyperAir - Tips & Tricks'}}<img class="product-thumbnail" alt="Helpful Videos" src="{{asset 'helpful-videos.png'}}">{{/is}}
                  {{#is name 'General Videos'}}<img class="product-thumbnail" alt="General Videos" src="{{asset 'helpful-videos.png'}}">{{/is}}
                  
                  <!--Handhelds-->
                    {{#is name 'CH701 Series'}}<img class="product-thumbnail" alt="CH701 Series" src="{{asset 'Handhelds-CH700.jpg'}}">{{/is}}
                  {{#is name 'CH900 Series'}}<img class="product-thumbnail" alt="CH900 Series" src="{{asset 'Handhelds-CH901.jpg'}}">{{/is}}
                  {{#is name 'CH901 Series'}}<img class="product-thumbnail" alt="CH900 Series" src="{{asset 'Handhelds-CH901.jpg'}}">{{/is}}
                  {{#is name 'CH950 Series'}}<img class="product-thumbnail" alt="CH900 Series" src="{{asset 'Handhelds-CH951.jpg'}}">{{/is}}
                  {{#is name 'HH200 Series'}}<img class="product-thumbnail" alt="HH200 Series" src="{{asset 'Handhelds-HH202.jpg'}}">{{/is}}
                  {{#is name 'LV800 Series'}}<img class="product-thumbnail" alt="LV800 Series" src="{{asset 'Handhelds-LV800.jpg'}}">{{/is}}
                  {{#is name 'LV900 Series'}}<img class="product-thumbnail" alt="LV900 Series" src="{{asset 'Handhelds-LV900.jpg'}}">{{/is}}
                  {{#is name 'SV75 Series'}}<img class="product-thumbnail" alt="SV75 Series" src="{{asset 'Handhelds-SV75.png'}}">{{/is}}
                  {{#is name 'SV780 Series'}}<img class="product-thumbnail" alt="SV780 Series" src="{{asset 'Handhelds-SV780.jpg'}}">{{/is}}
                  {{#is name 'WV200 Series'}}<img class="product-thumbnail" alt="WV200 Series" src="{{asset 'Handhelds-WV201BLBRN.jpg'}}">{{/is}}
                  {{#is name 'WV400 Series'}}<img class="product-thumbnail" alt="WV400 Series Shark® WANDVAC® POWER PET Cordless Hand Vacuum" src="{{asset 'Handhelds-WV401BL.jpg'}}">{{/is}}
                  {{#is name 'WV410 Series'}}<img class="product-thumbnail" alt="WV410 Series Shark® WANDVAC® POWER PET Cordless Hand Vacuum" src="{{asset 'Handhelds-WV410.png'}}">{{/is}}
                  
                  <!--Mops-->
                  {{#is name 'KD400 Series'}}<img class="product-thumbnail" alt="KD400 Series" src="{{asset 'Mops-KD400.jpg'}}">{{/is}}
                  {{#is name 'KD450 Series'}}<img class="product-thumbnail" alt="KD450 Series" src="{{asset 'Mops-KD450.jpg'}}">{{/is}}
                  {{#is name 'S1000 Series'}}<img class="product-thumbnail" alt="S1000 Series" src="{{asset 'Mops-S1000.jpg'}}">{{/is}}
                    {{#is name 'S2902 Series'}}<img class="product-thumbnail" alt="S2902 Series" src="{{asset 'Mops-S2902.jpg'}}">{{/is}}
                  {{#is name 'S3101 / S3202 Series'}}<img class="product-thumbnail" alt="S3101 / S3202 Series" src="{{asset 'Mops-S3101_S3202.png'}}">{{/is}}
                  {{#is name 'S3250 Series'}}<img class="product-thumbnail" alt="S3251 Series" src="{{asset 'Steam-S3251.jpg'}}">{{/is}}
                  {{#is name 'S3501 Series'}}<img class="product-thumbnail" alt="S3501 Series" src="{{asset 'Mops-S3501.jpg'}}">{{/is}}
                  {{#is name 'S3601 Series'}}<img class="product-thumbnail" alt="S3601 Series" src="{{asset 'Mops-S3601.jpg'}}">{{/is}}
                  {{#is name 'S3901 Series'}}<img class="product-thumbnail" alt="S3901 Series" src="{{asset 'Mops-S3901.jpg'}}">{{/is}}
                  {{#is name 'S3973 Series'}}<img class="product-thumbnail" alt="S3973 Series" src="{{asset 'Mops-S3973D.jpg'}}">{{/is}}
                  {{#is name 'S4601 / S4701 Series'}}<img class="product-thumbnail" alt="S4701 Series" src="{{asset 'Mops-S4701.jpg'}}">{{/is}}
                  {{#is name 'S5000 Series'}}<img class="product-thumbnail" alt="S5000 Series" src="{{asset 'Mops-S5000.jpg'}}">{{/is}}
                  {{#is name 'S6000 Series'}}<img class="product-thumbnail" alt="S6000 Series" src="{{asset 'Mops-S6002.jpg'}}">{{/is}}
                  {{#is name 'S6001W Series'}}<img class="product-thumbnail" alt="S6001W Series" src="{{asset 'Mops-S6002.jpg'}}">{{/is}}
                  {{#is name 'S7000 Series'}}<img class="product-thumbnail" alt="S7000 Series" src="{{asset 'Steam-S7000Series.png'}}">{{/is}}
                  {{#is name 'S7200 Series'}}<img class="product-thumbnail" alt="S7200 Series" src="{{asset 'Steam-S7200Series.png'}}">{{/is}}
                  {{#is name 'SC630 / SC650 Series'}}<img class="product-thumbnail" alt="SC630 Series" src="{{asset 'Mops-SC630.jpg'}}">{{/is}}
                  {{#is name 'SE200 Series'}}<img class="product-thumbnail" alt="SE200 Series" src="{{asset 'Mops-SE200.jpg'}}">{{/is}}
                  {{#is name 'SE400 Series'}}<img class="product-thumbnail" alt="SE400 Series" src="{{asset 'Mops-SE400.jpg'}}">{{/is}}
                  {{#is name 'SK115 Series'}}<img class="product-thumbnail" alt="SK115 Series" src="{{asset 'Mops-SK115.jpg'}}">{{/is}}
                  {{#is name 'SK410 Series'}}<img class="product-thumbnail" alt="SK410 Series" src="{{asset 'Steam-SK410.jpg'}}">{{/is}}
                  {{#is name 'SK435 Series'}}<img class="product-thumbnail" alt="SK435CO Series" src="{{asset 'Mops-SK435CO.jpg'}}">{{/is}}
                  {{#is name 'SM200 Series'}}<img class="product-thumbnail" alt="SM200 Series" src="{{asset 'Mops-SM200.jpg'}}">{{/is}}
                  {{#is name 'SK460 / SS460 Series'}}<img class="product-thumbnail" alt="SK460 Series" src="{{asset 'Mops-SK460.jpg'}}">{{/is}}
                  {{#is name 'SP1000 Series'}}<img class="product-thumbnail" alt="SP1000 Series" src="{{asset 'Mops-SP1000.jpg'}}">{{/is}}
                  {{#is name 'ST110 Series'}}<img class="product-thumbnail" alt="ST110 Series" src="{{asset 'Mops-ST110.jpg'}}">{{/is}}
                  {{#is name 'ST220 Series'}}<img class="product-thumbnail" alt="ST220 Series" src="{{asset 'Mops-ST220.jpg'}}">{{/is}}
                  {{#is name 'VM200 / VM250 Series'}}<img class="product-thumbnail" alt="VM200 / VM250 Series" src="{{asset 'Mops-VM251.jpg'}}">{{/is}}
                  {{#is name 'WD100 Series'}}<img class="product-thumbnail" alt="WD100 Series" src="{{asset 'Mops-WD100Series.jpg'}}">{{/is}}
                  {{#is name 'WD200 Series'}}<img class="product-thumbnail" alt="WD200 Series" src="{{asset 'Mops-WD200Series.jpg'}}">{{/is}}
                  
                  <!--Irons-->
                  {{#is name 'GI305 Series'}}<img class="product-thumbnail" alt="GI305 Series" src="{{asset 'IronsGarmentCare-GI305.png'}}">{{/is}}
                  {{#is name 'GI405 Series'}}<img class="product-thumbnail" alt="GI400 Series" src="{{asset 'IronsGarmentCare-GI405.png'}}">{{/is}}
                  {{#is name 'GI505 Series'}}<img class="product-thumbnail" alt="GI500 Series" src="{{asset 'IronsGarmentCare-GI505.png'}}">{{/is}}
                  {{#is name 'GI500 Series'}}<img class="product-thumbnail" alt="GI500 Series" src="{{asset 'IronsGarmentCare-GI505.png'}}">{{/is}}
                  {{#is name 'GI435 Series'}}<img class="product-thumbnail" alt="GI435 Series" src="{{asset 'IronsGarmentCare-GI435.png'}}">{{/is}}
                  {{#is name 'GI468 Series'}}<img class="product-thumbnail" alt="GI468 Series" src="{{asset 'IronsGarmentCare-GI468.jpg'}}">{{/is}}
                  {{#is name 'GS500 Series'}}<img class="product-thumbnail" alt="GS500 Series" src="{{asset 'IronsGarmentCare-GS500.jpg'}}">{{/is}}
                  
                  <!--Robots-->
                  {{#is name 'Robot - Helpful Videos & App Guide'}}<img class="product-thumbnail" alt="Helpful Videos" src="{{asset 'helpful-videos.png'}}">{{/is}}
                  {{#is name 'SharkClean App'}}<img class="product-thumbnail" alt="SharkClean App" src="{{asset 'SharkCleanApp.jpg'}}">{{/is}}
                  {{#is name 'AI Series Robots'}}<img class="product-thumbnail" alt="AI Robots" src="{{asset 'Robots-AI.jpg'}}">{{/is}}
                    {{#is name 'All Other Robots'}}<img class="product-thumbnail" alt="Other Robots" src="{{asset 'Robots-RV750N_RV85.jpg'}}">{{/is}}
                  {{#is name 'AV970 Series'}}<img class="product-thumbnail" alt="AV970 Series" src="{{asset 'Robots-AV970.jpg'}}">{{/is}}
                  {{#is name 'AV990 Series'}}<img class="product-thumbnail" alt="AV990 Series" src="{{asset 'Robots-AV990.jpg'}}">{{/is}}
                  {{#is name 'RV1000 Series'}}<img class="product-thumbnail" alt="RV1000 Series" src="{{asset 'Robots-RV1000.jpg'}}">{{/is}}
                  {{#is name 'RV1000AE / AV1000AE / UR1005AE Series'}}<img class="product-thumbnail" alt="RV1000AE/AV1000AE/UR1005AE Series" src="{{asset 'Robots-RV1000AE.jpg'}}">{{/is}}
                  {{#is name 'RV1000AE Series'}}<img class="product-thumbnail" alt="RV1000AE/AV1000AE/UR1005AE Series" src="{{asset 'Robots-RV1000AE.jpg'}}">{{/is}}
                  {{#is name 'RV1000S Series'}}<img class="product-thumbnail" alt="RV1000S/UR1000SR Series" src="{{asset 'Robots-RV1000S.jpg'}}">{{/is}}
                  {{#is name 'RV1000S/UR1000SR Series'}}<img class="product-thumbnail" alt="RV1000S/UR1000SR Series" src="{{asset 'Robots-RV1000S.jpg'}}">{{/is}}
                  {{#is name 'RV1100 Series'}}<img class="product-thumbnail" alt="RV1100 Series" src="{{asset 'Robots-RV1000AE.jpg'}}">{{/is}}
                  {{#is name 'RV2000 / AV2000 Series'}}<img class="product-thumbnail" alt="RV2000 / AV2000 Series" src="{{asset 'Robots-RV2001.jpg'}}">{{/is}}
                  {{#is name 'RV2001 Series'}}<img class="product-thumbnail" alt="RV2000 / AV2000 Series" src="{{asset 'Robots-RV2001.jpg'}}">{{/is}}
                  {{#is name 'RV2001WD Series'}}<img class="product-thumbnail" alt="RV20001WD Series" src="{{asset 'Robots-RV2001WD2.jpg'}}">{{/is}}
                  {{#is name 'RV2000WD / AV2000WD Series'}}<img class="product-thumbnail" alt="RV2000WD / AV2000WD Series" src="{{asset 'Robots-RV2001WD2.jpg'}}">{{/is}}
                  {{#is name 'RV2001BRN Series 3'}}<img class="product-thumbnail" alt="RV2001BRN Series 3" src="{{asset 'Robots-RV2001.jpg'}}">{{/is}}
                  {{#is name 'RV2001WDBRN Series 3'}}<img class="product-thumbnail" alt="RV2001WDBRN Series 3" src="{{asset 'Robots-RV2001WD2.jpg'}}">{{/is}}
                  {{#is name 'RV2300 Series'}}<img class="product-thumbnail" alt="RV2300 Series" src="{{asset 'Robots-RV2300Series.jpg'}}">{{/is}}
                  {{#is name 'RV2300S / RV2300AE Series'}}<img class="product-thumbnail" alt="RV2300S / RV2300AE Series" src="{{asset 'Robots-RV2300AESeries.jpg'}}">{{/is}}
                  {{#is name 'RV2400WD Series'}}<img class="product-thumbnail" alt="RV2400WD Series" src="{{asset 'Robots-RV2400WD.jpg'}}">{{/is}}
                  {{#is name 'RV2400WS / RV2400WA Series'}}<img class="product-thumbnail" alt="RV2400WS Series" src="{{asset 'Robots-RV2400WS.jpg'}}">{{/is}}
                  {{#is name 'RV2500AE / AV2500 / UR2500SR Series'}}<img class="product-thumbnail" alt="RV2500AE / AV2500 / UR2500SR Series" src="{{asset 'Robots-RV2502AE.jpg'}}">{{/is}}
                  {{#is name 'RV2502AE Series'}}<img class="product-thumbnail" alt="RV2500AE / AV2500 Series" src="{{asset 'Robots-RV2502AE.jpg'}}">{{/is}}
                  {{#is name 'RV2500AE Series'}}<img class="product-thumbnail" alt="RV2500AE / AV2500 Series" src="{{asset 'Robots-RV2502AE.jpg'}}">{{/is}}
                  {{#is name 'RV2500AE / AV2500 Series'}}<img class="product-thumbnail" alt="RV2500AE / AV2500 Series" src="{{asset 'Robots-RV2502AE.jpg'}}">{{/is}}
                  {{#is name 'RV2600WD Series'}}<img class="product-thumbnail" alt="RV2600WD Series" src="{{asset 'Robots-RV2600Series.jpg'}}">{{/is}}
                  {{#is name 'RV2600WA Series'}}<img class="product-thumbnail" alt="RV2600WA Series" src="{{asset 'Robots-RV2600WASeries.jpg'}}">{{/is}}
                  {{#is name 'RV2800S / RV2800AE Series'}}<img class="product-thumbnail" alt="RV2800 Series" src="{{asset 'Robots-RV2800.jpg'}}">{{/is}}
                  {{#is name 'RV700 / AV700 Series'}}<img class="product-thumbnail" alt="RV700 / AV700 Series" src="{{asset 'Robots-RV700_AV700.jpg'}}">{{/is}}
                  {{#is name 'RV700 Series'}}<img class="product-thumbnail" alt="RV700 / AV700 Series" src="{{asset 'Robots-RV700_AV700.jpg'}}">{{/is}}
                  {{#is name 'RV750 Series'}}<img class="product-thumbnail" alt="RV750 Series" src="{{asset 'Robots-RV750_RV760_RV770.jpg'}}">{{/is}}
                  {{#is name 'RV750_N / RV85 Series '}}<img class="product-thumbnail" alt="RV750_N / RV85 Series" src="{{asset 'Robots-RV750N_RV85.jpg'}}">{{/is}}
                  {{#is name 'RV750_N / RV85 Series'}}<img class="product-thumbnail" alt="RV750_N / RV85 Series" src="{{asset 'Robots-RV750N_RV85.jpg'}}">{{/is}}
                  {{#is name 'RV750 / RV760 / RV770 Series'}}<img class="product-thumbnail" alt="RV750/RV760/RV770 Series" src="{{asset 'Robots-RV750_RV760_RV770.jpg'}}">{{/is}}
                  {{#is name 'RV800 Series'}}<img class="product-thumbnail" alt="RV800 Series" src="{{asset 'Robots-RV800.jpg'}}">{{/is}}
                  {{#is name 'RV850WV Series'}}<img class="product-thumbnail" alt="RV850WV Series" src="{{asset 'Robots-RV850WV.jpg'}}">{{/is}}
                  {{#is name 'RV870 Series'}}<img class="product-thumbnail" alt="RV850WV Series" src="{{asset 'Robots-RV870.jpg'}}">{{/is}}
                  {{#is name 'RV900S Series'}}<img class="product-thumbnail" alt="RV900/AV900 Series" src="{{asset 'Robots-RV912S.jpg'}}">{{/is}}
                  {{#is name 'RV900/AV900 Series'}}<img class="product-thumbnail" alt="RV900/AV900 Series" src="{{asset 'Robots-RV912S.jpg'}}">{{/is}}
                  {{#is name 'RV900AE Series'}}<img class="product-thumbnail" alt="RV900AE Series" src="{{asset 'Robots-RV900AE.jpg'}}">{{/is}}
                  {{#is name 'RV900S/AV900S Series '}}<img class="product-thumbnail" alt="RV900S/AV900S Series" src="{{asset 'Robots-RV900_AV900.jpg'}}">{{/is}}  
                  {{#is name 'UR2360S Series'}}<img class="product-thumbnail" alt="UR2360S Series" src="{{asset 'Robots-UR2360S.jpg'}}">{{/is}}
                  
                  <!--Uprights-->
                  {{#is name 'Helpful Videos'}}<img class="product-thumbnail" alt="Helpful Videos" src="{{asset 'helpful-videos.png'}}">{{/is}}
                  {{#is name 'AX912 Series'}}<img class="product-thumbnail" alt="AX950 Series" src="{{asset 'Uprights-AX910.jpg'}}">{{/is}}
                  {{#is name 'AX950 Series'}}<img class="product-thumbnail" alt="AX950 Series" src="{{asset 'Uprights-AX950.jpg'}}">{{/is}}
                  {{#is name 'AZ1000 Series'}}<img class="product-thumbnail" alt="AZ1000 Series" src="{{asset 'Uprights-AZ1000.jpg'}}">{{/is}}
                  {{#is name 'AZ1500 Series'}}<img class="product-thumbnail" alt="AZ1500 Series" src="{{asset 'Uprights-AZ1500Series.jpg'}}">{{/is}}
                  {{#is name 'AZ2000 Series'}}<img class="product-thumbnail" alt="AZ2000 Series" src="{{asset 'Uprights-AZ2000W.jpg'}}">{{/is}}
                  {{#is name 'AZ3000 Series'}}<img class="product-thumbnail" alt="AZ3000 Series" src="{{asset 'Uprights-AZ3000.png'}}">{{/is}}
                  {{#is name 'CU500 Series'}}<img class="product-thumbnail" alt="CU500 Series" src="{{asset 'Uprights-CU500.jpg'}}">{{/is}}
                  {{#is name 'LA300 Series'}}<img class="product-thumbnail" alt="LA300 Series" src="{{asset 'Uprights-LA322.jpg'}}">{{/is}}
                  {{#is name 'LA401 Series'}}<img class="product-thumbnail" alt="LA300 Series" src="{{asset 'Uprights-LA401.jpg'}}">{{/is}}
                  {{#is name 'LA481 Series'}}<img class="product-thumbnail" alt="LA481 Series" src="{{asset 'Uprights-LA481.jpg'}}">{{/is}}
                  {{#is name 'LA555 Series'}}<img class="product-thumbnail" alt="LA555 Series" src="{{asset 'Uprights-LA555.jpg'}}">{{/is}}
                    {{#is name 'LA700 Series'}}<img class="product-thumbnail" alt="LA700 Series" src="{{asset 'Uprights-LA700.jpg'}}">{{/is}}
                    {{#is name 'LA500 Series'}}<img class="product-thumbnail" alt="LA500 Series" src="{{asset 'Uprights-LA502.jpg'}}">{{/is}}
                  {{#is name 'NV100 Series'}}<img class="product-thumbnail" alt="NV100 Series" src="{{asset 'Uprights-NV100.jpg'}}">{{/is}}
                  {{#is name 'NV150 Series'}}<img class="product-thumbnail" alt="NV150 Series" src="{{asset 'Uprights-NV151.jpg'}}">{{/is}}
                  {{#is name 'NV250 Series'}}<img class="product-thumbnail" alt="NV250 Series" src="{{asset 'Uprights-NV250.jpg'}}">{{/is}}
                  {{#is name 'NV350 Series'}}<img class="product-thumbnail" alt="NV350 Series" src="{{asset 'Uprights-NV350.jpg'}}">{{/is}}
                  {{#is name 'NV355 Series'}}<img class="product-thumbnail" alt="NV355 Series" src="{{asset 'Uprights-NV355.jpg'}}">{{/is}}
                  {{#is name 'NV360 Series'}}<img class="product-thumbnail" alt="NV360 Series" src="{{asset 'Uprights-NV360.jpg'}}">{{/is}}
                  {{#is name 'NV40 Series'}}<img class="product-thumbnail" alt="NV40 Series" src="{{asset 'Uprights-NV42.jpg'}}">{{/is}}
                  {{#is name 'NV42 Series'}}<img class="product-thumbnail" alt="NV42 Series" src="{{asset 'Uprights-NV42.jpg'}}">{{/is}}
                  {{#is name 'NV400 Series'}}<img class="product-thumbnail" alt="NV400 Series" src="{{asset 'Uprights-NV400.png'}}">{{/is}}
                  {{#is name 'NV500 Series'}}<img class="product-thumbnail" alt="NV500 Series" src="{{asset 'Uprights-NV500.jpg'}}">{{/is}}
                  {{#is name 'NV581 Series'}}<img class="product-thumbnail" alt="NV581 Series" src="{{asset 'Uprights-NV581.jpg'}}">{{/is}}
                  {{#is name 'NV580 Series'}}<img class="product-thumbnail" alt="NV581 Series" src="{{asset 'Uprights-NV581.jpg'}}">{{/is}}
                  {{#is name 'NV60 Series'}}<img class="product-thumbnail" alt="NV60 Series" src="{{asset 'Uprights-NV60.jpg'}}">{{/is}}
                  {{#is name 'NV601 Series'}}<img class="product-thumbnail" alt="NV60 Series" src="{{asset 'Uprights-NV601.png'}}">{{/is}}
                  {{#is name 'NV650 / NV750 Series'}}<img class="product-thumbnail" alt="NV650 / NV750 Series" src="{{asset 'Uprights-NV750.jpg'}}">{{/is}}
                  {{#is name 'NV680 Series'}}<img class="product-thumbnail" alt="NV680 Series" src="{{asset 'Uprights-NV680.jpg'}}">{{/is}}
                  {{#is name 'NV70 Series'}}<img class="product-thumbnail" alt="NV70 Series" src="{{asset 'Uprights-NV70.jpg'}}">{{/is}}
                  {{#is name 'NV700 Series'}}<img class="product-thumbnail" alt="NV700 Series" src="{{asset 'Uprights-NV750.jpg'}}">{{/is}}
                  {{#is name 'NV700 / UV700 Series'}}<img class="product-thumbnail" alt="NV700 / UV700 Series" src="{{asset 'Uprights-NV700-UV700.jpg'}}">{{/is}}
                  {{#is name 'NV800 Series'}}<img class="product-thumbnail" alt="NV800 Series" src="{{asset 'Uprights-NV800.jpg'}}">{{/is}}
                  {{#is name 'NV830 Series'}}<img class="product-thumbnail" alt="NV830 Series" src="{{asset 'Uprights-NV830.jpg'}}">{{/is}}
                  {{#is name 'UV540 Series'}}<img class="product-thumbnail" alt="UV540 Series" src="{{asset 'Uprights-UV540.jpg'}}">{{/is}}
                  {{#is name 'UV650 Series'}}<img class="product-thumbnail" alt="UV650 Series" src="{{asset 'Uprights-UV650.jpg'}}">{{/is}}
                  {{#is name 'UV700 Series'}}<img class="product-thumbnail" alt="UV700 Series" src="{{asset 'Uprights-UV700.jpg'}}">{{/is}}
                  {{#is name 'UV850 Series'}}<img class="product-thumbnail" alt="UV850 Series" src="{{asset 'Uprights-UV850.jpg'}}">{{/is}}
                  {{#is name 'UV900 Series'}}<img class="product-thumbnail" alt="UV900 Series" src="{{asset 'Uprights-UV900.jpg'}}">{{/is}}
                  {{#is name 'ZD400 Series'}}<img class="product-thumbnail" alt="ZD400 Series" src="{{asset 'Uprights-ZD400.jpg'}}">{{/is}}
                  {{#is name 'ZD550 Series'}}<img class="product-thumbnail" alt="ZD550 Series" src="{{asset 'Uprights-ZD550Series.jpg'}}">{{/is}}
                  {{#is name 'ZU100 Series'}}<img class="product-thumbnail" alt="ZU100 Series" src="{{asset 'Uprights-ZU100Series.jpg'}}">{{/is}}
                  {{#is name 'ZU51 Series'}}<img class="product-thumbnail" alt="ZU51 Series" src="{{asset 'Uprights-ZU51.jpg'}}">{{/is}}
                  {{#is name 'ZU560 Series'}}<img class="product-thumbnail" alt="ZU560 Series" src="{{asset 'Uprights-ZU560.jpg'}}">{{/is}}
                  {{#is name 'ZU570 Series'}}<img class="product-thumbnail" alt="ZU560 Series" src="{{asset 'Uprights-ZU570.jpg'}}">{{/is}}
                  {{#is name 'ZU60 Series'}}<img class="product-thumbnail" alt="ZU60 Series" src="{{asset 'Uprights-ZU62.jpg'}}">{{/is}}
                  {{#is name 'ZU62 Series'}}<img class="product-thumbnail" alt="ZU60 Series" src="{{asset 'Uprights-ZU62.jpg'}}">{{/is}}
                  {{#is name 'ZU620 Series'}}<img class="product-thumbnail" alt="ZU620 Series" src="{{asset 'Uprights-ZU620.jpg'}}">{{/is}}
                  {{#is name 'ZU630 Series'}}<img class="product-thumbnail" alt="ZU630 Series" src="{{asset 'Uprights-ZU630.jpg'}}">{{/is}}
                  {{#is name 'ZU700 Series'}}<img class="product-thumbnail" alt="ZU780 Series" src="{{asset 'Uprights-ZU700.jpg'}}">{{/is}}
                  {{#is name 'ZU780 Series'}}<img class="product-thumbnail" alt="ZU780 Series" src="{{asset 'Uprights-ZU780.jpg'}}">{{/is}}
                  {{#is name 'ZU880 Series'}}<img class="product-thumbnail" alt="ZU780 Series" src="{{asset 'Uprights-ZU880.jpg'}}">{{/is}}
                  {{#is name 'ZU80 Series'}}<img class="product-thumbnail" alt="ZU80 Series" src="{{asset 'Uprights-ZU80.jpg'}}">{{/is}}
                  
                  <!--Wet Dry-->
                  {{#is name 'VS100 Series'}}<img class="product-thumbnail" alt="Wet/Dry Vacuums" src="{{asset 'WetDry-VS101.jpg'}}">{{/is}}
                    {{#is name 'EX150 / EX200 Series'}}<img class="product-thumbnail" alt="EX200 Series" src="{{asset 'WetDry-EX200.jpg'}}">{{/is}}
                  {{#is name 'PX200 Series'}}<img class="product-thumbnail" alt="PX200 Series" src="{{asset 'WetDry-PX200.jpg'}}">{{/is}}
                  
                  {{!-- --------------------------------------------- --}}
                  <h3 class="text-center">{{name}}</h3>
                </a>
              </div>
              
              <!--Display articles inside section
              {{#each articles}}
              <div class="text-center clipped">
                <a href="{{url}}">
                  {{#if promoted}}<span class="fa fa-star" title="{{t 'promoted'}}"></span>{{/if}}
                  {{title}}
                  {{#if internal}}<span class="fas fa-lock" title="{{t 'internal'}}"></span>{{/if}}
                </a>
              </div>
              {{/each}}-->
              
            </section>
          {{/isnt}}
          {{/each}}
        </div>
      {{/if}}

      {{#if section.sections}}
        <div class="section-list">
          {{#each section.sections}}
            <section class="section">
              <div class="section-tree-title">
                <a href="{{url}}"><h3>{{name}}</h3></a>
              </div>
              <div class="section-tree-articles" style="margin-left: 2rem;">
                <ul>
                {{#each articles}}
                  <li><a href="{{url}}">{{title}}</a></li>
                {{/each}}
                </ul>
                {{#if more_articles}}
                <a href="{{url}}" class="see-all-articles">
                  {{t 'show_all_articles' count=article_count}}
                </a>
                {{/if}}
              </div>
            </section>
          {{/each}}
        </div>
      {{/if}}
      {{pagination "section.sections"}}
    </div>
    {{pagination}}     
  </div>
</div>

<div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="site-video-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      
      <div class="modal-body">

        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>        
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
        </div>
        
        
      </div>

    </div>
  </div>
</div> 

<span id="product-category-section-id" data-catid="{{#each section.sections}}{{name}},{{/each}}"></span>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    HC.templates.section.init();
    HC.templates.section.getCategorySections("{{settings.section_ids}}");
    var $videoSrc;  
    $('.site-video-item').click(function() {
        $videoSrc = $(this).data( "src" );
        // //console.log($videoSrc)
    });

    // when the modal is opened autoplay it  
    $('#video-modal').on('shown.bs.modal', function (e) {
        
    // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
    $("#video").attr('src',$videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0" ); 
    })
      
    // stop playing the youtube video when I close the modal
    $('#video-modal').on('hide.bs.modal', function (e) {
        // a poor man's stop video
        $("#video").attr('src',$videoSrc); 
    }) 
  });
</script>

<!-- Robots page widgets -->
{{#is section.name 'Robots'}}
	<!-- Sprinklr widget script -->
<script>
      window.sprChatSettings = window.sprChatSettings || {};
      window.sprChatSettings = {"appId":"604288b26b1fdb774d0e5a33_app_820664"};
  </script>
  <script>
  (function(){var t=window,e=t.sprChat,a=e&&!!e.loaded,n=document,r=function(){r.m(arguments)};r.q=[],r.m=function(t){r.q.push(t)},t.sprChat=a?e:r;var o=function(){var e=n.createElement("script");e.type="text/javascript",e.async=!0,e.src="https://prod-live-chat.sprinklr.com/api/livechat/handshake/widget/"+t.sprChatSettings.appId,e.onerror=function(){t.sprChat.loaded=!1},e.onload=function(){t.sprChat.loaded=!0};var a=n.getElementsByTagName("script")[0];a.parentNode.insertBefore(e,a)};"function"==typeof e?a?e("update",t.sprChatSettings):o():"loading"!==n.readyState?o():n.addEventListener("DOMContentLoaded",o)})()
  </script>            
{{/is}}
<script>
  $(document).ready(function(){
    let owlOptionsHomepage = {
      items: 1,
      dots: false,
      loop: true,
      slideTransition: 'linear',
      autoplay: {{ settings.info_box_carousel_autoplay }},
      autoplayTimeout: "{{settings.info_box_carousel_timeout}}",
      autoplayHoverPause: true,
      nav: true,
      navText: ['<i class="fa fa-angle-left info-box-prev" aria-hidden="true"></i>','<i class="fa fa-angle-right info-box-next" aria-hidden="true"></i>']
    }

    $("#sectionpage-carousel-1").owlCarousel(owlOptionsHomepage);
    $("#sectionpage-carousel-2").owlCarousel(owlOptionsHomepage);
    $("#sectionpage-carousel-3").owlCarousel(owlOptionsHomepage);
    $("#sectionpage-carousel-4").owlCarousel(owlOptionsHomepage);
    $("#sectionpage-carousel-5").owlCarousel(owlOptionsHomepage);
  });
</script>
